[2019-04-23 09:43] kejxu opened #8 "No GitHub Pages for ms-iot/vscode-ros"

[2019-04-23 09:45] kejxu opened #9 "Email notifications not turned on for iot-robotics team"

[2019-04-23 09:49] kejxu opened #10 "No Issues template for ms-iot/vscode-ros"
could copy from the [issue template](https://github.com/ms-iot/ROSOnWindows/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) from the [ROSOnWindows](https://github.com/ms-iot/ROSOnWindows) project

[2019-04-23 09:54] kejxu opened #11 "master.showMasterStatus does not work with the latest vscode"
`master.showMasterStatus` depends on `vscode.previewHtml` which is [deprecated (completely removed)](https://github.com/Microsoft/vscode/issues/62630) in the latest vscode, this needs to be reimplemented with the [webview APIs](https://code.visualstudio.com/api/extension-guides/webview)

[2019-04-23 10:10] #11 closed

[2019-04-23 18:46] kejxu commented on #9
notifications to @kejxu for push events enabled

[2019-04-23 18:46] #9 closed

[2019-04-23 20:20] kejxu commented on #10
adding issue templates with https://github.com/ms-iot/vscode-ros/pull/13

[2019-04-23 20:20] #10 closed

[2019-05-06 03:40] ooeygui opened #28 "Roslaunch files not found when build with catkin_make"
Setup a catkin workspace
Create a package `test_package` which contains a launch file in a launch directory.

From the terminal, build:
[code]
attempt to use a roslaunch file with vscode

Result:
[code]

[2019-05-06 03:44] ooeygui commented on #28
The Linux side uses find and passed an array of directories. The Windows side only uses the first directory.

[2019-05-06 05:15] ooeygui commented on #28
I have a fix pending in the [urdf branch](https://github.com/ooeygui/vscode-ros/commit/762fd9e3a3860ab62a44bab73daf40571ebbc40a)

[2019-05-06 05:23] ooeygui opened #29 "roslaunch needs to recall last successful command"
When using roslaunch from vscode, you typically are launching the same file over and over. It should remember that and offer it as the first option.

[2019-05-21 20:30] ooeygui opened #40 "[bug] Cannot find launch files in a devel environment"
**general information**
Windows

**describe the bug (*actual behavior*)**
When sourcing a development environment, the roslaunch handler cannot find launch files.

**Fixed in this fork**
https://github.com/ooeygui/vscode-ros/commit/762fd9e3a3860ab62a44bab73daf40571ebbc40a

[2019-05-21 20:32] ooeygui opened #41 "[bug] roslaunch does not source devel\setup.bat on Windows"
**general information**
Windows

**describe the bug (*actual behavior*)**
The roslaunch command is not looking at the devel environment when discovering launch files.

**Fix in this branch**
https://github.com/ooeygui/vscode-ros/commit/d0f390343a94774a97d27c7e0ef490fff516616f

[2019-05-23 19:46] #41 closed

[2019-05-23 19:47] #40 closed

[2019-05-23 21:04] seanyen opened #48 "Incompatible Python environment could be auto-activated in ROS terminal"
I have `ms-python.python` extension installed and it by default will automatically launch a Python environment for every terminal open in VSCode, and which results in unexpected behaviors. Any thought?

![image](https://user-images.githubusercontent.com/25241284/58286114-e85a2680-7d62-11e9-9705-817fd6976464.png)

[2019-05-23 21:55] kejxu commented on #48
I am not seeing this behavior on my machine (Windows), let me try it on Ubuntu

[2019-05-23 22:13] seanyen commented on #48
I think it is to do with this feature: https://code.visualstudio.com/docs/python/environments#_select-and-activate-an-environment

I added `"python.terminal.activateEnvironment": false` in my workspace `settings.json` and then this behavior is gone.

[2019-05-24 00:03] kejxu commented on #48
Let me do a bit more testing on this and maybe we should add the `"python.terminal.activateEnvironment": false` when the extension gets activated.

meantime, could you help check which Python interpreter you selected for the workspace?
![image](https://user-images.githubusercontent.com/44008378/58293977-a6d67500-7d7c-11e9-996c-596d5d60d03e.png)
is the python2.7 from c:\opt\python27amd64 selected?

[2019-05-24 00:14] seanyen commented on #48
![image](https://user-images.githubusercontent.com/25241284/58294263-008b6f00-7d7e-11e9-8900-1dfa51627d15.png)

No, a virtualenv is chosen instead. (My computer has several Python installations.)

[2019-05-24 00:22] kejxu commented on #48
I think this might be the reason, as the Python extension detects that the interpreter is from venv, it will attempt to activate the environment in the terminal

Yes, I think so. our (ros) python install path needs to be in the environment so that the extension can pick it up. Maybe you could also try typing that in manually, I think that would also work.

I am guessing it's because I have gone th

[2019-05-24 00:32] seanyen commented on #48
Sourcing `c:\opt\ros\melodic\x64\setup.bat` does the trick to make `c:\opt\python27amd64\python.exe` on the list. And I need to manually switch to it once to make the change happen in workspace `settings.json`

[2019-05-24 00:34] kejxu commented on #48
this is a great point! We can totally configure this in our extension, I'll test it out and send out a pull request with the change later

[2019-05-24 01:05] seanyen opened #49 "ROS status seems not to be updated when a roslaunch is running"
![image](https://user-images.githubusercontent.com/25241284/58295643-3a13a880-7d85-11e9-94ec-a9293a918b96.png)

I tried to roslaunch a project and after it is running, I saw ROS stauts stop updating. What to check?

[2019-05-24 14:02] andrejpan opened #50 "[feature] add docs how to install this addon from source?"
I am new in VS Code and trying to set up the ROS plugin. As far as I see there are multiple ways.

First, I can install an old extension through Extension Marketplace from ajshort, but this project is not actively developed any more. I am not managing to build my packages...

Second, apperantly I could install from VSIX - [link](https://code.visualstudio.com/docs/editor/extension-gallery#_install-

[2019-05-24 20:50] ooeygui opened #51 "[feature] if there's only one distro installed, select it"
It isn't necessary to ask the user to configure a distro if only one is installed.

[2019-05-24 20:55] ooeygui opened #52 "[bug] 'esc' out of a ROS: roslaunch attempts to launch ros with undefined"
**Repro**
In a workspace with a launch file, execute ros: roslaunch.
Select a package
Press esc

**Result**
`RLException: [undefined] is neither a launch file in package [undefined] nor is [undefined] a launch file name
The traceback for the exception was written to the log file`

[2019-05-24 20:57] ooeygui opened #53 "[bug] ros:roslaunch then press escape, shows bad error"
**Repro**
Open the command pallet - Ctrl/Shift P
select ROS: roslaunch
Press escape

**Result**

error message
![image](https://user-images.githubusercontent.com/4564624/58356260-d09aa500-7e2b-11e9-9b2b-8da4a7e6e614.png)

[2019-05-24 23:21] ooeygui opened #54 "[feature] Add 'Catkin Ignore' menu option"
Sometimes it is useful to ignore a folder during catkin build.

Add a menu option to say 'ignore in catkin build'.

[2019-05-28 18:17] kejxu commented on #50
hi @andrejpan,

Thanks for the great question! This is a great point, our apologies for the confusion!

We are pushing towards releasing this extension to the Extension Marketplace and after that you'd be able to find it there =)

The easiest way to do this (at this point) is to download VSIX from the build artifact:
1. click on the build status badge
![image](https://user-images.githubusercontent

[2019-05-28 21:52] kejxu opened #55 "[bug] F5 for rosrun and roslaunch not working on Windows"
**general information**
Windows

**describe the bug (*actual behavior*)**
`rosrun` and `roslaunch` defined in `launch.json` does not work on Windows

**additional context**
update `README.md` when this issue is resolved

[2019-06-03 09:00] andrejpan commented on #50
Hey @kejxu,

thank you for this help. I managed to install this plugin, now I just need to learn how to use it ;-)

During the installation I got a warning:
[code]
Somebody might need to open new issue?

Best, Andrej

[2019-06-03 13:21] andrejpan opened #56 "[bug] Could not source the workspace space setup file."
**general information**
\<Ubuntu 16.04, ROS Kinetic\>
\<Version of the VS Code 1.34.0>
\<Version of the plugin: 0.4.2\>

**describe the bug (*actual behavior*)**
When I start VS Code I get message: `Could not source the workspace space setup file.` Not sure if this is a bug, but I have no idea how to solve it.

**steps to reproduce**
1. source system and local ros enviroment in bash
2. run code in

[2019-06-03 18:00] kejxu commented on #50
thanks for trying it out @andrejpan! Please feel free to reach out if you find any problem/question while using it, always welcome =)

The warning looks like a bug to me (thanks for posting it here!), but it somehow looks like a bug related to Node.js, so it might be a bug in vscode (this is just my guess, I need to check on that). I think it would be great if we could log it as a bug anyhow; woul

[2019-06-03 21:38] kejxu commented on #56
nice catch, this should be one of the testing scenarios, sending out fix soon

[2019-06-03 22:22] #56 closed

[2019-06-03 22:27] kejxu commented on #56
hi @andrejpan, `shell: "cmd"` was added when we just started porting the extension, this Windows-only specification has been removed in the pull request referenced above to fix for Linux.

Due to the limitation of installing from .vsix, you might need to uninstall and reinstall with the new .vsix published from the build pipeline.

[2019-06-04 08:07] andrejpan commented on #56
I can confirm that notification disappeared with the updated version of a plugin.

[2019-06-04 08:12] andrejpan commented on #50
I am not sure if I understand correctly your last sentence... I should create a new issue and describe with all the necessary information?

Best Andrej

[2019-06-04 17:13] kejxu commented on #56
This is super helpful! Thanks for trying it out and reporting this issue! Please feel free to reach out again whenever there is any other issue/question/feature request!

[2019-06-04 17:17] kejxu commented on #50
My apologies for the confusion! Yes, please =) This seems like a separate issue.

It would be great if we could have vscode's version, the steps you took to install the vsix, and anything you'd consider necessary included in the bug report =)

[2019-06-11 20:47] kejxu opened #60 "[bug] not able to identify telemetry data sent from source build and production release"
**describe the bug (*actual behavior*)**
The one and only `aiKey` is defined in `package.json`, so all GitHub source builds and production releases in marketplace will use the same one.

This could lead to unexpected extra data sent out from development scenarios.

[2019-06-11 20:48] kejxu commented on #60
use 1 `aiKey` for GitHub source builds, and update `aiKey` with another one specifically for production releases in the release pipeline

[2019-06-13 23:50] kejxu opened #62 "[bug] ros.updateCppProperties not working on Windows"
**general information**
Windows
0.4.3

**describe the bug (*actual behavior*)**
`ros.updateCppProperties` does not add any local include path

**expected behavior**
local include paths get added to `includeDir`

**additional context**
`packagePath` for local packages and `extension.baseDir` had different path separator (`/` and `\`), causing string comparison mismatch.
[code]

possible fix:
1. sta

[2019-06-21 22:11] seanyen opened #70 "[bug] undefined is propagated to rosrun when you cancel the operation."
**general information**
`0.4.4` from CI build.

**steps to reproduce**
1. <kbd>Ctrl</kbd>+<kbd>P</kbd> to open the command menu.
2. Type `>ROS:` and select the entry for `rosrun`
3. Select a package.
4. Select a executable.
5. Press <kbd>ESC</kbd> multiple times until the operation is canceled.

**expected behavior**
Don't run anything, but it runs the `rosrun` with `undefined` in the arguments in

[2019-06-28 21:55] kejxu opened #71 "[bug] ROS Core monitor has illegible UI"
**general information**
Windows 10
0.4.5

**describe the bug (*actual behavior*)**
![image](https://user-images.githubusercontent.com/44008378/60373275-781f7000-99b4-11e9-979c-6c43ebd14828.png)

1. hard to read the title bar
2. and when there are multiple nodes for 1 topic, hard to read other nodes than the first one

**steps to reproduce**
open ROS Core monitor with `ROS: Show Core Status`

**add

[2019-07-12 18:03] kejxu opened #72 "[bug] cpp intellisense not working"
**general information**
Windows
0.4.5

**describe the bug (*actual behavior*)**
intellisense not working due to import error

**additional context**
path like `c:\opt\rosdeps\include` needs to be added so that dependencies can be looked up

[2019-07-12 22:42] kejxu opened #75 "[feature] vscode-ros should use vscode-cpptools api for C++ language configuration"
**Is this feature request related to a problem?**
by using apis from `vscode-cpptools`, instead of hard-coding `c_cpp_properties.json`, this reduces possible mistakes during C++ language environment configuration

[2019-07-15 10:04] Brabalawuka commented on #72
I am still getting intellisense error after updating the preperties json file

`include errors detected. Please update your includePath. Squiggles are disabled for this translation unit (C:\test\src\helloworld\src\listener.cpp).
cannot open source file "boost/math/special_functions/round.hpp" (dependency of "ros/ros.h")`

My json file is like:

`{
    "configurations": [
        {
            "bro

[2019-07-15 20:21] kejxu commented on #72
thanks for sharing! let's use https://github.com/ms-iot/vscode-ros/pull/73 for this conversation =)

[2019-07-16 01:26] kejxu commented on #72
@Brabalawuka, thanks for sharing your experience and results with us! I have merged https://github.com/ms-iot/vscode-ros/pull/73, and a newer version of the extension can be downloaded and installed via [vsix](https://ros-win.visualstudio.com/ros-win/_build/results?buildId=4669&view=artifacts).

Would love to know if this works for you =)

Meantime, we'll close this issue for now. Please let us kn

[2019-07-16 01:26] #72 closed

[2019-07-16 05:50] Brabalawuka opened #77 "Geeting invalid macro error after generating cmake cache in visual studio"
**Describe the bug**
E0992	command-line error: invalid macro definition: =

**To Reproduce**
Steps to reproduce the behavior:
Open the workspace and generate cmake cache

![image](https://user-images.githubusercontent.com/31028570/61269259-a2ed2f00-a7d0-11e9-8681-6ba6846ce668.png)

![image](https://user-images.githubusercontent.com/31028570/61269275-ae405a80-a7d0-11e9-9fce-46e5259a850e.png)

**Exp

[2019-07-16 06:02] Brabalawuka commented on #72
Hi, thank for your help!

The newer version is still getting me the `cannot open source file "sys/time.h"` error
[code]

[2019-07-16 18:30] kejxu commented on #72
As we have discussed, the error about `sys/time.h` likely requires an update of ROS, not related to this extension.

[2019-07-18 02:40] Brabalawuka commented on #77
This can be fixed by a series of configuration, I have written a detailed tutorial about this configuration:

https://github.com/Brabalawuka/RosOnWindows

In the `CMakeSettings.json` file, do the following:

->>`"generator": "NMake Makefiles"` ->> This because `Catkin_make` uses `NMake` instead of `Ninja`
    ->>`"configurationType": "RelWithDebInfo"` ->> Match with Catkin Type
    ->>`"buildRoot"

[2019-07-23 17:41] kejxu opened #78 "[feature] add yaml language support for .rosinstall files"
**Is this feature request related to a problem?**
.rosinstall files are very specific to the ROS build system yet get very minimal YAML language support since `.rosinstall` is not a recognized extension for YAML.

**What kind of solution would be helpful?**
this extension could create association between the `.rosinstall` extension and the YAML language to utilize VS Code's built-in language suppo

[2019-07-29 14:24] mElBalkini opened #79 "[feature] Debugging and breakpoints support"
**Is this feature request related to a problem?**
One of the most important features of an IDE is the debugging tools. A breakpoint and a stack trace would save few hours of writing print statements.

**What kind of solution would be helpful?**
Similar debugging functionality to any IDE. Clion is a good example, just press the bug button and it simply stops on breakpoints. Sometimes you have to do

[2019-08-02 06:43] rcabg commented on #79
I join this request. The possibility of debugging from a roslaunch file would be great since code changes wouldn't be necessary for the gdb walkaround.

@mElBalkini while this feature is not available... do you know this? It works great for me [](https://medium.com/@tahsincankose/a-decent-integration-of-vscode-to-ros-4c1d951c982a)

[2019-08-07 16:28] ooeygui commented on #79
We are working on this. First we're enabling [attach to process](https://github.com/ms-iot/vscode-ros/pull/87), then debug from roslaunch.

[2019-08-07 23:42] kejxu opened #92 "[bug] ROS environment does not get updated after setup.bat gets changed"
**general information**
Windows 10
0.5.0

**describe the bug (*actual behavior*)**
after workspace gets rebuild, the ROS environment sourced in the extension does not get updated

**steps to reproduce**
open workspace
build a new project

**expected behavior**
ROS environment should get updated whenever `setup.bat` is changed

**additional context**
listener should be added to file handler for set

[2019-08-07 23:47] seanyen opened #93 "[bug] URDF preview sometimes doesn't load up the model"
Repro Steps:
1. Active the vscode-ros extension.
2. Open a workspace which are built before by `catkin_make\catkin_make_isolated`.
3. Open up an `xacro` file in the editor.
4. Run URDF preview command.
5. Wait for URDF window open.

Expected:
I can see the robot model loaded and rendered in the preview window.

Actual:
Only the window and the grid shows up but no robot model is rendered there.

Wo

[2019-08-08 00:03] kejxu opened #94 "[feature] add 'previewURDF' context menu option"
**What kind of solution would be helpful?**
enable right click on a `.urdf`/`.xacro` file and bring up the option to load preview for the file

[2019-08-08 00:08] kejxu commented on #49
is this fixed after https://github.com/ms-iot/vscode-ros/pull/85?

[2019-08-08 01:16] seanyen commented on #49
Yes, I think that's the same problem I encountered earlier. Closing this issue now.

[2019-08-08 01:16] #49 closed

[2019-08-08 17:59] seanyen commented on #94
Maybe also consider to add <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>v</kbd> for the preview too. It seems to be a key combo convention to open a file preview.

[2019-08-08 22:55] kejxu commented on #79
Thanks for the great suggestion! This is indeed a great point! As Lou has mentioned above, we have checked in #87, the dev version (aside from the released version on marketplace) could be downloaded from [here](https://dev.azure.com/ros-win/bed058dd-46da-4029-bb85-25eae7674d09/_apis/build/builds/4882/artifacts?artifactName=VSIX&api-version=5.2-preview.5&%24format=zip) and installed as `.vsix`. Pl

[2019-08-09 00:53] seanyen opened #96 "[feature] bootstrap an empty workspace from .rosinstall file"
It would be great to enable the follow workflow:

1. Open command prompt.
2. Source toolchain & ROS environment when needed.
3. Create a directory for our workspace to bootstrap & change directory there.
4. Run `vscode`.
5. Add an `abc.rosinstall` with repositories to checkout.
6. Magic happens!
7. Now you have everything clone locally and you can do <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>b</kbd> t

[2019-08-09 05:50] rcabg commented on #79
@kejxu @ooeygui thanks a lot for the work you are doing! I will check it out for sure. Any instructions of what I have to do once I install the dev version?

[2019-08-09 07:33] PymZoR opened #97 "[bug] Handle case when a xacro has a .urdf extension"
**describe the bug (*actual behavior*)**
I have a standard xacro file to create an URDF (that unfortunately cannot be shared here).
It contains meshes on the `.stl` format for visuals, and some `gazebo` tags.

Running `ROS: Preview URDF` show a partial model.
Running xacro manually, and previewing the resulting URDF displays correctly.

**expected behavior**
The full model should be rendered.

**s

[2019-08-09 17:39] kejxu commented on #79
Great point! We'll make sure to have documentation coverage for the final version =) The easiest way to test out the change would be like this:

1. add a new "ROS: Attach" debug configuration (by clicking on `Add Configuration...`)
![image](https://user-images.githubusercontent.com/44008378/62797960-f5e59980-ba91-11e9-8bac-7351467a4f59.png)

2. choose the newly added configuration and launch (by p

[2019-08-13 21:00] seanyen opened #100 "[build-pipeline] add tslint to CI"
It would be nice to have `tslint` integrated with CI so contributors know what style issues to fix for their pull requests.

[2019-08-14 23:08] seanyen commented on #97
@PymZoR Hi can you elaborate more how did you do the manual `xacro` conversion? I am interested in if `vscode-ros` is doing it differently.

[2019-08-15 20:41] ooeygui commented on #96
👍  I just hit this.

[2019-08-17 08:07] PymZoR commented on #97
@seanyen  `rosrun xacro xacro [path-to-xacro-file] > output.urdf`

[2019-08-19 21:47] seanyen commented on #52
I think it is fixed by #98. Closed it now.

[2019-08-19 21:47] #52 closed

[2019-08-19 21:50] seanyen commented on #53
I think it is fixed in #98. Closed it now.

[2019-08-19 21:50] #53 closed

[2019-08-21 18:01] kejxu opened #109 "[feature] add catkin_make_isolated task provider"
**Is this feature request related to a problem?**
there is currently no support for workspaces built with (or needs to be built with) `catkin_make_isolated`

**What kind of solution would be helpful?**
add task provider for `catkin_make_isolated` build and test tasks

[2019-08-21 18:45] kejxu commented on #55
we are changing how debug configurations from `launch.json` are resolved, `F5` would just trigger a new debug session and this should be a new issue

[2019-08-21 18:45] #55 closed

[2019-08-21 21:46] #109 closed

[2019-08-22 21:42] seanyen opened #113 "[bug] ROS command fails to run when you use them before the extension is ready."
If you run the command too soon right after `vscode` starts up, you will see errors, but it goes away after the extension is fully loaded.

[2019-08-26 07:57] beetleskin opened #114 "[bug] Catkin build tasks not working"
**general information**
Ubuntu 18.04; using catkin tools, vscode 1.37.1.

**what is the bug**
When running `Configure Default Build Task` and then selecting `catkin: make`, a new entry is added to _tasks.json_:
[code]

For the type, vscode complains about "Value is not accepted". For "problemMatcher: "Incorrect type. Expected object".

**expected behavior**
The creation of a valid and working _cat

[2019-08-26 22:06] rickstaa opened #116 "[feature] vscode-ros not sourcing workspace"
**General information**
OS version, Ubuntu? Windows: Ubuntu 18.04
Visual studio code version: 1.38.0-insider
Version of the plugin: 0.5.0
python environment: miniconda3 (py2.7)

**what is the bug**

When I try to use the rosrun debug function (F5 after roscore is started) nothing happens. Further when trying to debug the workspace `devel/setup.bash` is not sourced before debugging the python node.

[2019-08-29 14:52] beetleskin commented on #114
Alright. With the original plugin, I've been using those:
[code]

Do you mean those type of tasks? Or how do I compile with the plugin?

[2019-08-31 01:16] kejxu opened #120 "add documentation for commands"
add markdown for commands with screenshot/gif

[2019-09-01 20:40] rickstaa commented on #116
@kejxu Thanks for looking into my problem and for rebuilding the debugger. I'm happy to perform some tests if the debugger is ready.

[2019-09-03 17:58] kejxu commented on #116
You're very welcome @rickstaa, we're always trying to understand more about different kinds of problems! We recently just announced [attach-debug](https://discourse.ros.org/t/updating-the-vs-code-extension-for-ros-to-0-6-0/10508), this would hopefully make debugging a ROS (C++/Python) node by attaching to the process easier =) (if it does not, we're more than happy to look into the problem)

Meant

[2019-09-03 19:29] rickstaa commented on #116
@kejxu Wow thanks that work seamlessly for attaching the process. If you could add ROS conda/virtualenv setup.bash file sourcing my ROS Development environment would be complete. I'm unsure if it is a problem with your extension or the general way visual studio behaves so I also posted an issue on the vscode github [gitub.com/microsoft/vscode](https://github.com/microsoft/vscode/issues/79932).

[2019-09-03 19:42] kejxu commented on #116
Yay! That just sounds wonderful =)

I am not 100% sure what your ROS dev environment looks like, but I agree it would be worthwhile looking into how ROS should work with `venv` (there're likely work we need to do for this extension, but we need to dive further into the usage before that). The issue you posted in `vscode` looks like a very good starting point! Thanks for opening that ticket!

[2019-09-03 20:02] kejxu commented on #79
Just a quick update on the thread, we released [`0.6.0`](https://discourse.ros.org/t/updating-the-vs-code-extension-for-ros-to-0-6-0/10508/2) last week (initial release for attach-debug and ROS2 support). Would love to know how that works =)

Meantime, launch-debug (debugging roslaunch) is currently work-in-progress.

[2019-09-03 20:05] kejxu opened #122 "[feature] support language-specific debug options for launch-debug"
VS Code's [Python](https://code.visualstudio.com/docs/cpp/launch-json-reference) and [C++](https://code.visualstudio.com/docs/cpp/launch-json-reference) debugging extensions use different flags. Since `vscode-ros` propagates its debug request to these extensions, it'd be a good idea to allow adding language-specific flags in `ros`-type debug configurations.

[2019-09-06 01:14] mElBalkini commented on #79
Attach debugger works perfectly. I tested on Linux.
I also used [this trick](https://stackoverflow.com/questions/663449/what-is-the-best-way-to-attach-a-debugger-to-a-process-in-vc-at-just-the-right) to wait till the debugger is attached.
Waiting for the automated launch-debug feature.
Thanks for the quick response and implementation

[2019-09-09 08:41] sofu456 commented on #116
maybe you config source */setup.bash in .bashrc,so you will reset you path every time you restart

[2019-09-09 08:43] sofu456 commented on #116
maybe you config source */setup.bash in .bashrc,so you will reset you path every time you restart. and so this is not a bug.

ps: i get the source code,find the termial will be change every time it start

[2019-09-09 10:20] sofu456 commented on #116
maybe you config source */setup.bash in .bashrc,so you will reset you path every time you restart. and so this is not a bug.  just delete this config,and use the vscode purge setup.

ps: i get the source code,find the termial will be change every time it start

[2019-09-17 20:30] seanyen opened #125 "[feature] When clicking on ROS status icon on the taskbar, it should bring the focus to any existing ROS status tab."
I think it is a nice-to-have enhancement to bring the focus to any existing ROS Status tab, instead of keeping creating the new ones.

[2019-09-17 21:26] seanyen opened #126 "[bug] The task [catkin_make, build] uses an undefined task type"
When using build tasks, I will see the following errors from debug output:

[code]

[2019-09-17 21:28] kejxu commented on #126
this might be similar to https://github.com/ms-iot/vscode-ros/issues/114

[2019-09-18 00:30] seanyen opened #128 "[bug] Unable to automatically create launch.json when add ROS debug configurations"
When no `launch.json` under `.vscode` for the active workspace and developers try to add a ROS debug configuration, the `vscode` shows a error message:

[code]

Other debug configurations (for example, `cpptools`) will generate `launch.json` silently instead.

[2019-09-18 01:23] seanyen opened #129 "[feature] ROS Launch Debugger & substituteVariables Support"
In `vscode`, there is a `AbstractVariableResolverService` to help dynamically generate launch\attach request at runtime by using abstract variables. For example, `${file}` is replaced by the active open file path. This ability enables that developers can define a generic ROS launch task and simply go to the editor to open roslaunch file and press `F5` to debug.

BTW, currently we hooked our logic

[2019-09-18 01:26] #126 closed

[2019-09-18 01:32] kejxu commented on #129
good point! VS Code variables get resolved when they are passed to the debug adapter, not sure how to resolve those inside an extension's context.

some relevant ticket to vscode repo: https://github.com/microsoft/vscode/issues/79518

[2019-09-24 08:18] rickstaa opened #132 "Ros python debugger gives timeout"
**general information**
Ubuntu: 18.04
Plugin v: 0.6.0

**what is the bug**
The python ROS debugger keeps giving me the following timeout error after 1 min of inactivity while debugging:

[code]

**expected behavior**
No timeout.

[2019-09-24 20:21] rcabg commented on #79
@kejxu sorry for the delay. Attach to process works really well, tested on Ubuntu 16.04. Congratulations for the work! I will stay tuned for the launch-debug.

[2019-09-24 20:24] #128 closed

[2019-09-24 21:45] ooeygui commented on #97
@PymZoR Could you share the location of the xacro file and support files? I'd like to debug this locally.

[2019-09-26 00:01] seanyen opened #133 "[feature] A method to provision what build tool to use for the first time"
In current ROS extension user manual, it states this requirement:

We should have a way to manually provision what build tool to use for a empty (or not yet compiled) project, which I believe a better first-time user experience.

[2019-09-26 00:05] seanyen opened #134 "[feature] More concise error messages for ROS launch debug when node doesn't exist"
If I try to launch debug but the node doesn't exist, it throws the below error message:
![image](https://user-images.githubusercontent.com/25241284/65648298-8a5e7980-dfb6-11e9-8854-1e41b8762a08.png)

Can it be more readable and concise?

[2019-09-26 00:11] seanyen opened #135 "[feature] C++ Launch debug with the node process name"
It would be nice to see the drop down with the process name, but not a generic `c++: launch`, so I know clearer which process I am debugging with now.
![image](https://user-images.githubusercontent.com/25241284/65648476-4029c800-dfb7-11e9-9f8a-74dbc43e5d0a.png)

[2019-09-26 00:13] kejxu commented on #135
is this using the latest version? this was changed in dcb4d4bfd3a1d9bd7b63fc4b5ac9eaa8a6b0506a

[2019-09-26 00:15] seanyen commented on #135
ah.. I am using the 0.6.0 but not the nightly build. I will close it since it is fixed.

[2019-09-26 00:15] #135 closed

[2019-09-26 09:54] PymZoR commented on #97
I found the cause of the bug. Our xacro file was in fact called `model.urdf`.

An elegant fix would be to look after the tag `<robot xmlns:xacro="http://www.ros.org/wiki/xacro">` instead of the file extension.

[2019-09-26 10:17] rickstaa commented on #116
@sofu456 Thanks for your answer. That is indeed what I have been doing up till now. I, however, think it could be very valuable to incorporate auto sourcing into the extension.

[code]

[2019-09-26 10:46] rickstaa commented on #116
As stated by [@isidorn][1] in this [vscode GitHub issue](https://github.com/ms-iot/vscode-ros/issues/116) this feature is currently not yet supported. In the meantime, people can achieve the desired behaviour by adding the following code to their `.bashrc`

[code]
  [1]: https://github.com/isidorn

[2019-09-26 17:52] ooeygui commented on #97
@PymZoR Thanks for clarifying. I changed this to an improvement, as it would require deep introspection.

[2019-09-27 00:02] michaelajax opened #139 "Enhancement: Add documentation about debugging ROS Nodes"
It would be good if we created documentation about building nodes in a way that allows a debugger to be attached, as well as documentation about how to attach a debugger.

Some things to consider:
- Documentation about adding a wait for debugger to the node source. quick summary is:
    - add `#include "windows.h"` to the node source code
    - add the following lines right at the start of the `ma

[2019-09-27 02:28] sofu456 commented on #116
right,i has commit a pullrequest,this may solve this question as well

[https://github.com/ms-iot/vscode-ros/pull/123](url)

[2019-09-27 08:06] rickstaa commented on #132
@seanyen Thanks for your response. I checked the version of the `ptvsd` debugger and it is currently at version 4.3.2. As this is the latest version I could find for my python 2.7 conda environment the problem still persists.

[2019-09-27 08:09] rickstaa commented on #116
@sofu456 Thanks for the pull request! I looked through the code changes but I'm unsure how they automatically source the ROS workspace. Does it still need the above-mentioned workaround?

[2019-09-27 10:10] sofu456 commented on #116
you can also add the config into bashrc file,and the ros plugin will run source ../devel/setup.bash after the terminal is launch finish.

the ros plugin run this command before the teiminal launch finish before,so it cause this problem.
now it is ok,but i was puzzle the manager has ready update the plugin in vscode.

[2019-09-30 08:16] rickstaa commented on #116
@sofu456 Ah I see thanks again!

[2019-10-02 11:59] rickstaa commented on #79
Additionally, to the ways described by @mElBalkini, here are some additional methods to make the debugger wait that worked better in my specific situation.

- [Wait for gdb to atach](https://stackoverflow.com/questions/11255064/wait-for-gdb-to-attach)
- [Set breakpoint in c or c++ code programmatically for gdb on linux](https://stackoverflow.com/questions/4326414/set-breakpoint-in-c-or-c-code-prog

[2019-10-08 21:58] seanyen commented on #132
Interesting. Do you mind elaborating more on this? Any quick example that we can try?

[2019-10-11 09:06] rickstaa commented on #132
@seanyen, Of course, I will make an example somewhere next week.

[2019-10-11 15:16] rickstaa commented on #132
@seanyen In the meantime, and as a workaround, I noticed that the timeout doesn't happen when I use the following code to wait for the debugger.

[code]

[2019-10-12 05:57] luohc2004 opened #136 "ros.createTerminal seems not support zsh and zsh support wanted[feature]"
ros.cerateTerminal auto source environment  functions not properly in zsh shell. I think its still not supported to tell using the devel/setup.bash or devel/setup.zsh.
As I like both zsh and vscode-ros very much, I am pleased to hear that vscode-ros supports zsh ~~ I think there are many people agreeing with me.

[2019-10-16 16:21] linknum23 commented on #50
I had similar issues and followed some documentation on the vscode-go wiki. I adapted it to BUILDING.md in #137 in the hope that this will help future testers and contributers.

[2019-10-17 20:27] seanyen commented on #139
@michaelajax Please excuse my late response. The debugging experience is what our ROS extension tries to tackle. I believe now we have some native ROS nodes debug support without the `sleep()` trick, but just doesn't have good documentation for that.

cc @kejxu maybe that's something we should add into our backlog.

[2019-10-21 18:25] kejxu opened #140 "[bug] relative links in README.md does not work for VS market place page"
**what is the bug**
relative links in https://marketplace.visualstudio.com/items?itemName=ms-iot.vscode-ros does not work, need to use absolute links

[2019-10-21 19:57] #140 closed

[2019-10-22 04:36] #50 closed

[2019-10-27 18:54] lusu8892 opened #145 "[feature] debugger skipping files"
**what is needed**
Allow debugger skipping certain header files

**why is it needed**
"skipFiles" is not support under ros: launch configuration. I tried to put "skipFiles" in a ros: launch configuration in launch.json file, however I was told it is not supported.

[2019-11-06 01:26] Geekgineer opened #148 "Conout load the ROS URDF Preview [bug]"
**General information**

- Ubuntu 16.4
- The version of the plugin 0.6.1
- code --version
- 1.39.2
- 6ab598523be7a800d7f3eb4d92d7ab9a66069390
- x64

**Bug**
cannot load the URDF viewer
![image](https://user-images.githubusercontent.com/16764177/68260008-34183800-0044-11ea-9e87-0a15eb0036ba.png)

**expected behavior**
wait some time for the model to be loaded

**additional context**
The packages lo

[2019-11-06 22:50] seanyen commented on #148
Thanks for the reporting. One quick question, do you see your `ROS_PACKAGE_PATH` configured correctly if you are checking it from the terminal inside the `vscode`? I just wanted to make sure `vscode` doesn't see anything different.

[2019-11-06 22:51] kejxu commented on #148
thanks a lot for reporting this issue! another quick check, have you by any chance tried executing the xacro command by itself in the terminal?

asking because it seems like this is happening due to an error from `xacro`

[2019-11-06 23:05] Geekgineer commented on #148
Thank you for the quick support! really appreciate that,
yes, these work perfectly and show me all the directors related to ROS.
[code]
![image](https://user-images.githubusercontent.com/16764177/68345647-861b9500-00fa-11ea-8c33-24f9e15fa273.png)

[2019-11-06 23:11] Geekgineer commented on #148
Thank you for your efforts! yes, it works properly.
[code]

![image](https://user-images.githubusercontent.com/16764177/68345915-5456fe00-00fb-11ea-9b5a-040bfc9a74bf.png)

[2019-11-07 05:18] clobotcalc100 opened #149 "[feature] Can I use "-enable-pretty-printing" option in ROS Attach?"
- Ubuntu : Desktop 16.04 LTS
- ROS : Kinetic Kame
- VSCode : 1.39.2 (+ROS extensions)

**Can I use "-enable-pretty-printing" option in configurations ( launch.json )?**
I want to see **plan** (std::vector<geometry_msgs::PoseStamped> variables.

![Screenshot from 2019-11-07 14-13-37](https://user-images.githubusercontent.com/51101341/68362002-12fd3780-0169-11ea-90a7-fcf42f01ac31.png)
![Screenshot f

[2019-11-09 10:52] Gallium70 opened #150 "[bug] "Could not source the setup file for ROS distro" in VSCode 1.40"
**general information**
OS version: Windows 10 1809 17763.737
Version of the plugin: 0.6.1

**what is the bug**
When opening a catkin workspace, the extension seems failed to run setup.bat(located in C:\opt\ros\melodic\x64), raising "Could not source the setup file for ROS distro" error.
Excuting the setup file outside vscode is ok, and roscore can be started from cmd successfully.

This happens a

[2019-11-11 05:55] 15800436469try opened #151 "[bug] "Cannot convert undefined or null to object""
when I start debug,it shows a wrong information  "Cannot convert undefined or null to object" ,but my steps is right

{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "

[2019-11-11 19:54] kejxu commented on #71
this has been fixed by @seanyen in https://github.com/ms-iot/vscode-ros/commit/00b631ef7563fece4c2c987861b635d1efaaf161

[2019-11-11 19:54] #71 closed

[2019-11-11 19:55] #70 closed

[2019-11-11 19:55] #51 closed

[2019-11-11 20:00] kejxu commented on #149
thanks for reporting this!

quick question, is it possible to add this option in a [C++ debug configuration](https://code.visualstudio.com/docs/cpp/launch-json-reference)? Like using the `miDebuggerArgs` property?

if that is possible, this might be duplicate with https://github.com/ms-iot/vscode-ros/issues/122

[2019-11-13 12:44] rickstaa opened #152 "c++ ros nodes not showing up in ROSRUN menu [bug]"
**general information**
OS: Ubuntu 18.04
Version: 1.41.0-insider
Commit: 0d728c31ebdf03869d2687d9be0b017667c9ff37
Date: 2019-11-12T05:32:12.922Z
Electron: 6.1.4
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 5.0.0-32-generic

**what is the bug**
When I try to use the `>ROS: Run a ROS executable (rosrun)` command only my python nodes are showing up. I can, however, ma

[2019-11-13 18:59] kejxu commented on #152
Thanks for reporting this!

under the hood the extension tries to find executables (on Linux) using the `find -type f -executable` [command](https://github.com/ms-iot/vscode-ros/blob/master/src/ros/ros1/ros1.ts#L107). Just a quick check, does the `octomap_server_node` binary have the `-x` flag added?

[2019-11-14 08:43] rickstaa commented on #152
@kejxu Thanks a lot for your response! I am not sure if I fully understand your question. I did add the `-DCMAKE_BUILD_TYPE=RelWithDebInfo` flag to the catkin config. Do I also need to add an extra flag inside the CMAKELIST.txt file?

[2019-11-14 17:34] kejxu commented on #152
not exactly, I was wondering about the permissions (`chmod`) of the binary. try running this command:

[code]

any `x` in the output ([sample](https://www.computerhope.com/unix/uchmod.htm)) would mean the binary could be executed.

[2019-11-15 13:37] rickstaa commented on #152
@kejxu Thanks for your answer! I did not give my user execution permissions as I didn't think this was needed as I could use the  `rosrun octomap_server octomap_server_node` command from within a terminal. Changing the x permissions indeed fixed my problem.

[2019-11-15 13:44] rickstaa commented on #152
@kejxu  I did some further testing, and I now get the following error while trying to use the extensions `rosrun` command.

[code]

I think this is caused by the fact that the node is called as `rosrun beginner_tutorials talker.cpp` instead of `rosrun beginner_tutorials talker`.

[2019-11-15 18:12] kejxu commented on #152
thanks for updating on this!

passing `talker.cpp` into the rosrun command should not happen (as long as we're choosing the executable itself, `talker`, not `talker.cpp`).

Since the `rosrun` command from the extension is actually executing a `rosrun` command in the terminal, the actual command and arguments should be printed on the terminal too, could you also take a look at the terminal output?

[2019-11-18 05:37] Konye666 opened #154 "command 'ros.XXXXX' not found in Win10"
**general information**
\<Win10 64bit\>
\<0.6.2\>

Hello, I am a beginner in VS Code, Can the extension work in Windows Systems? Commands like 'ros.startCore' and 'ROS: Create Catkin Package'are all not found when using Ctrl+Shift+P to run. Seems that I need to open a catkin workspace first, but how can I open a catkin workspace in VS Code?

Thanks.

[2019-11-18 18:59] rickstaa commented on #152
@kejxu I just did some checks, and it appears that the `.cpp` Extension is forwarded to the console command when the `x` flag is enabled. The console output is:

[code]
home/rstaa/catkin_ws/src/vscode-ros_issue152/src/talker.cpp: line 6: /bin: Is a directory
/home/rstaa/catkin_ws/src/vscode-ros_issue152/src/talker.cpp: line 7: CMakeLists.txt: command not found
/home/rstaa/catkin_ws/src/vscode-ros_

[2019-11-19 14:23] ChiefMilesEdgeworth opened #155 "Unable to find ros packages"
When opening my workspace, the extension is not able to find any of the ROS packages in that workspace. I have checked that running rospack find does list them all, and when using the terminal from the ROS: Create Terminal command the workspace's devel/setup.bash is already sourced. Is there something I'm missing that needs to be done before it sees the workspace?

I'm using ROS kinetic on Ubuntu

[2019-11-19 20:50] seanyen commented on #155
@Nabel0721 Hi! Thanks for reporting. Did you start the `code` from the root of your workspace? And what do you mean by not able to find any ROS packages? Are you able to share a screenshot?

[2019-11-19 20:55] seanyen commented on #154
@Konye666 Hi! Thanks for the reporting. Assume that you have a catkin workspace under `c:\catkin_ws`, and you have to run `code` under the root of the workspace. And one thing to be noted is that you need to do at least once `catkin_make` to bootstrap your workspace, so ROS extension knows you are really under a catkin workspace.

Hence, for example, you probably will need to do the following:
[co

[2019-11-19 21:43] Nabel0721 commented on #155
I launched code from the app picker on the start menu, and then opened the root of my workspace with "Open Folder". I can share a screenshot tomorrow, but when I run the command to run a launch file or executable, the bar to enter a package appears but there are no suggestions and it doesn't accept a package name if I type it in directly.

[2019-11-20 08:59] namals commented on #155
I faced the same issue when trying to setup the launch debugging. It threw the error "Cannot convert undefined or null to object" mentioned in https://github.com/ms-iot/vscode-ros/issues/151

After looking at @seanyen's response about starting `code` from the root of the workspace, I noticed that I have configured the workspace for `code` to be in ~/catkin_ws/src rather than ~/catkin_ws. ( ~/catki

[2019-11-20 12:26] Nabel0721 commented on #155
Here's a small video of what's happening. I am at the root of my workspace (which is named beta), and I have already built with catkin_make.

[ROS Extension.mp4.zip](https://github.com/ms-iot/vscode-ros/files/3869151/ROS.Extension.mp4.zip)

Github won't let me post an mp4, so it's in the zip archive. Hopefully this'll help

[2019-11-20 20:55] seanyen opened #156 "[feature] automatic ROS master activation when doing roslaunch debugging."
Currently when using `roslaunch` debug, the extension assumes the ROS master is up and running. However we can make this little bit smarter than that, and decide to run ROS master on behave of the users if there is no any running instance.

[2019-11-21 12:34] Nabel0721 commented on #155
So, after thinking about it for a while, my gut tells me that the extension is not getting the same environment as my terminal is. It not only cannot find my packages, but also the builtin ros packages. Is there something I can do to point the extension to the place where the packages are located, like how the terminal knows because of running setup.bash?

[2019-11-21 14:13] Nabel0721 commented on #155
From what I can tell the only place this issue could be coming from is in the `ros1.ts` file under either the `getPackageNames()` function or the `getPackages()` function. Since the extension shows the input for a package but never loads in the packages, I think it's waiting on a promise that is never resolved. I'm not sure how this is happening, since the command it's running, `rospack list`, is

[2019-11-21 14:34] Nabel0721 commented on #155
After looking through the roscore commands in [here](https://github.com/ms-iot/vscode-ros/blob/master/src/ros/ros1/core-helper.ts#L19) (since those still work for me), I found that the environment is obtained through the extension module, rather than being passed through directly [right here](https://github.com/ms-iot/vscode-ros/blob/master/src/ros/ros1/ros1.ts#L23). In the functions I mentioned i

[2019-11-25 11:31] annesteenbeek opened #157 "[feature] .launch file <?ignore ... ?> commenting for handling double dashes"
I use ```--``` quite a lot in my .launch files, either for input arguments or for comments (as i assume most of us do), however, the normal commenting syntax (``````) breaks when there are any double dashes present in the block. This is quite frustrating since .launch files use quite a lot more comments and dashes then normal .xml files.
I just read [this](https://norlab.ulaval.ca/research/how-to-

[2019-11-28 07:38] rcabg commented on #151
Same problem here. So far unable to do a roslaunch debug since always appears that message.

Ubuntu 16.04
vscode: 1.40.1
ROS extension: 0.6.2
ROS Kinetic

[2019-11-28 22:43] beetleskin commented on #116
I'm missing this feature (source workspace before running python) since the very first day of the plugin, so I'm super i favor of this :)

That's often the answer from many IDEs (QtCreator, CLion, Eclipse, ..) but I think this is rather ugly: Often, we work on multiple workspaces and switching should be easy. Sourcing and running the editor from commandline is not easy, also not editing your bashr

[2019-12-06 22:56] seanyen opened #159 "[feature] Enable clickable linking and exclude build & devel sub-folders."
Copied the [feedback](https://www.linkedin.com/feed/update/urn:li:activity:6607748825622937600?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A6607748825622937600%2C6608124947573415936%29) from "Austin Deric":

[2019-12-09 15:52] wikky250 opened #160 "[feature] i want to get the beginner_turtorials file"
**what is needed**
\<what should be added or updated\>
i just want the beginner_turtoials file to test my environment.
**why is it needed**
\<brief introduction for better understanding\>
could you get update the example file to github?
thankyou

[2019-12-11 10:17] fmorgner opened #161 "[feature] allow configuration of colcon build command"
**what is needed**
Currently, the generated build command for `colcon` builds simply executes `colcon build`. It would be nice if there was a way to specify additional parameters for the invocation of `colcon`, for example to specify additional/different event handlers.

**why is it needed**
The current implementation does not provide any flexibility as to how `colcon` is invoked. As an example, t

[2019-12-13 20:56] ooeygui opened #162 "[bug] VSCode ROS launch debugging does not handle malformed launch files"
If roslaunch --dump-params fails on a launch file, the result is not yaml. When the launch provider attempts to parse the yaml, it returns null - which is immediately dereferenced.

Guard against malformed launch files and provide an error message.

[2020-01-03 17:14] AnticliMaxtic opened #163 "detect ros2 distribution build from source"
I have build my ros2 distribution (eloquent) from source but cannot figure out how to get the extension to detect it. The docs are pretty sparse for ROS2 projects.

Ubuntu 18.04
VSCode insider 1.42.0-insider
ms-iot.vscode-ros 0.6.2

[2020-01-22 16:23] mickare opened #164 "[feature] I want to use "${workspaceFolder}" in target path to the launch file"
**what is needed**
In the file *launch.json* it should be possible to use the variable `${workspaceFolder}` in the ros-launch `target` field.

*launch.json*
[code]

**currently**
When not using an absolute path an error is shown: "Launch request requires an absolute path as target".

**why is it needed**
I am using the ["Remote Development" Extension](https://marketplace.visualstudio.com/items?ite

[2020-01-23 18:21] mickare commented on #156
Hey @seanyen, i'm using a workaround to start the ROS master... maybe it helps you.

I am using the [Remote Development extension pack](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.vscode-remote-extensionpack) and I configured it to automatically start the roscore when the develop-environment-container is started.

*.devcontainer/devcontainer.js*
[code]
#!/bin/bash
set -e

[2020-01-23 18:32] #164 closed

[2020-01-23 18:33] mickare commented on #164
Duplicate of #129

[2020-01-24 13:09] mickare opened #166 "[bug] VSCode ROS launch debugging runs before preLaunchTask"
## general information
**Host:** Pop!_OS Ubuntu 19.10

**VScode Extensions:**
- **Remote Development** *0.19.0* `ms-vscode-remote.vscode-remote-extensionpack`
   ROS is used inside a Docker Container
- **ROS** *0.6.2* `ms-iot.vscode-ros`

## what is the bug
The `ros.launch` launch configuration does not wait for the `preLaunchTask` to finish.
This sometimes results in build-conflicts.

**launch.js

[2020-01-25 06:22] omelinopineda opened #167 "Extension causes high cpu load"

[2020-02-07 21:17] ooeygui commented on #167
Hi @omelinopineda, can you provide more details? In what scenario does it cause high load?

[2020-02-07 21:23] ooeygui commented on #163
Hi @AnticliMaxtic ,
VSCode will detect the the ROS environment using the `ROS_VERSION` environment variable per [ROS REP-0149](http://www.ros.org/reps/rep-0149.html#environment-variables)

How does this manifest for you?

[2020-02-07 21:23] #163 closed

[2020-02-07 21:25] ooeygui commented on #160
I'm sorry, I don't understand. You can use the vscode terminal to pull down tutorials as documented on the ROS wiki http://wiki.ros.org/ROS/Tutorials

[2020-02-07 21:25] #160 closed

[2020-02-14 14:59] AnticliMaxtic commented on #163
Sorry for the late response, the issue has been closed. I wanted to confirm that the issue has, in fact, been resolved. Thanks

[2020-02-22 01:45] jsbyysheng opened #168 "[feature] New mechanism for Update C++ Properties / Update Python Path"
**what is needed**
I wonder if it is possible to change the mechanism for Update C++ Properties / Update Python Path. Definitely, to update c++/python include path from each standalone package's include directory.

**why is it needed**
Recently, I installed the MoveIt from the source. At present, I have 2 workspaces - mine and MoveIt. When I program in my workspace, I want to include "moveit/move_

[2020-02-25 21:24] seanyen commented on #161
Have you tried this? https://colcon.readthedocs.io/en/released/user/configuration.html#defaults-yaml

Developers can create a `defaults.yaml` to manage their custom `colcon` build commands. You can create one under your workspace and set `COLCON_HOME` environment variables before running the code and it should work?

[2020-02-28 12:56] rickstaa opened #169 "[bug] Debugger not attach to python node"
**general information**
**OS version:** Ubuntu 18.04
**Plugin version:** 0.6.2

**what is the bug**
When trying to attach to a python ROS node nothing happens.

**expected behaviour**
The vscode ROS extension successfully attaches to the running python ROS node.

**steps to reproduce**
1. Clone the [rospy example repository](https://github.com/rickstaa/rospy_example/tree/master/rospy_example).
2.

[2020-03-11 00:13] ooeygui opened #171 "[bug] VSCode not debugging C++ nodes on Windows."
Platform: **Windows**

*Symptom*
Attempting to debug from a launch file fails silently

*Reason*
Roslaunch is now returning `cmd /c` instead of the raw exe name

[code]

[2020-03-11 00:14] ooeygui commented on #167
Closing due to inactivity

[2020-03-11 00:14] #167 closed

[2020-03-11 00:16] #8 closed

[2020-03-11 23:02] #171 closed

[2020-03-19 23:49] fjp commented on #79
How is it possible to debug tests?

I am using this [tasks.json](https://github.com/ms-iot/vscode-ros/issues/114#issuecomment-526222538) from #114 to build test in debug type. This works so far.

I also setup the "ROS: Attach" debug configuration in the launch.json.

When I run the "catking this test debug" task and try to attach to the "catkin" or "make" process (not sure which one is correct) us

[2020-03-20 16:45] fjp commented on #79
I got to the point where I can stop at the breakpoint. The main problem was that I didn't attach to the correct process because the ROS package I am working with (`ros_controllers/diff_drive_controller` from ROS control) is not my own and I therefore don't know the executables exactly.

However here is the `catkin config` I used, notice the "Additional CMake Args (I guess it was important to set t

[2020-03-20 16:48] fjp commented on #79
I'd be also happy to see some documentation on how to setup ros debugging for nodes and tests. Please let me know if this exists already and excuse me if I missed it.

[2020-04-09 15:22] sweetim commented on #149
this would be useful, at the moment either

- write own launc file as suggested (https://answers.ros.org/question/313371/vscode-debug-cpp-ros-node/)
- or manually input `-enable-pretty-printing` in `debug console` (https://qiita.com/taka_horibe/items/50e4659e88d1ee3cd04a)

as the current configuration do not allow override of the `miDebuggerArgs` when using `type: "ros"`

[2020-04-13 15:14] rydb opened #183 "[bug] STL and DAE models will not load in VS code URDF preview."
OS: 18.04 Ubuntu
Plugin Version: 0.6.3
ROS Version: Melodic

Bug: VS-code plugin will not render STL or DAE models in urdf preview

Current behavior: does not render models, but renders generic geometry
E.G:
Generic geometry like a cylinder will load
[code]
STL and DAE models will not
[code]

Steps to reproduce:
1. Create a new ROS folder with catkin:
   mkdir catkin && cd catkin && mkdir src && m

[2020-04-13 18:41] ooeygui commented on #183
The VSCode plugin it isn't expecting a file:// path. It is expecting a package:// format path because the file should be relative to a package. Can you try modifying your URDF file?

[2020-04-14 00:30] rydb commented on #183
Tried to figure out how to do that but im now in a catch 22. the URDF tutorial im following on the official ROS website: http://mirror.umd.edu/roswiki/urdf(2f)Tutorials(2f)Building(20)a(20)Visual(20)Robot(20)Model(20)with(20)URDF(20)from(20)Scratch.html

has an example of a ROS urdf file with a package, but in order for the plugin to detect the folder, I have to run catkin_make, which requires it

[2020-04-14 14:27] yassiezar opened #184 "[bug] C++ node not appearing in rosrun command when built with `catkin build`"
**general information**

OS: Mint 19.3, based on Ubuntu 18.04
Plugin: v0.6.3

**what is the bug**

When trying to run a C++ node with the >rosrun command, the available nodes in the package don't appear. This is similar to the issue [here](https://github.com/ms-iot/vscode-ros/issues/152). However, I've checked that that the executable is marked with an -x.

This can be reproduced by building the w

[2020-04-14 22:21] ooeygui commented on #184
Internally, vscode does this:
            const dirs = `catkin_find --without-underlays --libexec --share '${packageName}'`;
            command = `find $(${dirs}) -type f -executable`;

Can you execute these two commands on your environment and share the output?

[2020-04-15 09:24] yassiezar commented on #184
When searching for the executable "pcl_polygon_mesh_to_triangle_list", I've run the command `find (catkin_find --without-underlays --libexec --share 'pcl_polygon_mesh_to_triangle_list') -type f -executable`, which reports no results. Changing that to `find -L (catkin_find --without-underlays --libexec --share 'pcl_polygon_mesh_to_triangle_list') -type f -executable` (note the -L) reports exactly 1

[2020-04-15 18:14] ooeygui commented on #184
Thank you for the investigation!

[2020-04-16 20:07] #183 closed

[2020-04-18 01:48] ooeygui opened #185 "[feature] Progress bar when loading URDF assets"
**what is needed**
When loading a heavily laden urdf, the load can take quite a long time. Indication of load would improve usability.

**why is it needed**
 Not sure if it it stalled for some reason.

[2020-04-24 05:07] mcevoyandy commented on #139
I've recently switched to using VSCode for my ROS dev and am liking it, but I would also like to see more documentation. It's frustrating that there isn't more. I still debug in my terminal window with GDB...

[2020-04-25 23:58] ooeygui opened #189 "[feature] Enable ROS commands outside a workspace"
**what is needed**
Enable the VSCode ROS extension to execute ROS commands when not in a ROS workspace.

**why is it needed**
It is quite frustrating when executing a ROS extension command and have VSCode report "command not found".  This is due to a latch in the code which tries to detect a workspace, so that it doesn't bloat the VSCode instance when not in a workspace, but the impact is minimal.

[2020-04-29 07:17] nikhilprakash99 opened #196 "[bug] Unable to locate certain packages inside VSCode"
**general information**
OS version : Ubuntu 18.04 with ROS Melodic
VSCode :  1.44.2 ( ff915844119ce9485abfe8aa9076ec76b5300ddd x64 )
Plugin : 0.6.3

**Bug Description**
Certain Packages ( in my case px4 ) are not getting located in the ROS environment inside VSCode. This package is to be sourced and set up automatically on startup through the zsh startup script, but for some reason it is not worki

[2020-04-29 07:27] nikhilprakash99 commented on #196
The other commands in .zshrc are working and are getting executed

[2020-05-01 17:53] rhaschke opened #202 "[feature] Allow folding in dashboard"
Having many ROS parameters defined, their display in the dashboard gets lengthy.
It would be great if individual items in the hierarchy could become foldable.

Same holds for topics and services, although their list typically doesn't grow so fast.
But, having a hierarchical display there as well, would facilitate navigation.

[2020-05-01 17:58] rhaschke opened #203 "[feature] Regularly purge ROS graph in dashboard?"
The ROS master accumulates nodes, services, and topics over time, even though the corresponding process already finished. Manually performing a `rosnode cleanup` on the console, fixes this.
Maybe, you could provide a command (or even better a button on the ROS dashboard) to do so from VS code?

[2020-05-01 18:10] rhaschke opened #204 "[feature] Make dashboard searchable"
In a long dashboard display, it would be great to be able to search for specific items.

[2020-05-03 13:49] fkromer opened #205 "[feature] documentation of ROS2 support"
Would be great of you could document what functionality is provided w.r.t. ROS2. From https://github.com/ms-iot/vscode-ros/projects/2#column-5390805 this is not obvious.

[2020-05-05 19:03] rhaschke opened #206 "[bug] Handle anonymous nodes when running a launch file"
Obviously the extension determines the list of ROS nodes started by a launch file and subsequently determines the cmdlines to start those, first using `roslaunch --nodes` and then `roslaunch --args`. However, this mechanism fails if a ROS node is using an anonymous name (e.g. `name="$(anon rviz)"`), because the full name randomly changes between invocations of roslaunch.

[2020-05-16 03:47] mjbvz opened #214 "Adopt VS Code's 'asWebviewUri' API"
Hi, I maintain VS Code's Webview API

## Issue
Our telemetry suggests that your extension uses webviews and may be loading resources in these webviews using hardcoded `vscode-resource:` URIs. These URIs have some important limitations and don't work properly when VS Code is run in a browser. We are also making changes in the desktop version of VS Code that may cause these URIs to not work properly

[2020-05-20 00:07] seanyen commented on #203
@rhaschke Thanks for the feedback! That sounds a useful feature to add. The team will be evaluating it for the next release iteration.

[2020-05-20 17:24] seanyen commented on #169
@rickstaa Sorry for the long overdue. Is it still reproducible? I tried the following combination and I can attach and debug the Python node.

Platform: Ubuntu 18.04

[code]

[2020-05-21 13:14] rickstaa commented on #169
@seanyen Thanks a lot for the heads-up! The issue is indeed solved in:

[code]

[2020-05-21 13:14] #169 closed

[2020-05-21 13:21] rickstaa opened #218 "[bug] ROS stop core command log outs the current user and and creates login loop"
**General information**
OS: Ubuntu 18.04
Plugin version: 0.6.3
Login manager: lightdm  1.26.0

**what is the bug**
I noticed that running the `>ROS: stop core` command logs-out the currently active user. Additionally, when trying to login again it creates a login screen loop. This login screen loop is gone when the PC is restarted.

**expected behaviour**
Stop the ROS core without logging out the

[2020-05-21 13:25] rickstaa commented on #116
@kejxu Since @beetleskin also showed an interest in this feature is it possible to change the bug label to a feature request label?

[2020-05-21 21:30] kejxu commented on #116
@seanyen

[2020-05-29 04:44] Ayaya0074 opened #224 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-ros`
- Extension Version: `0.6.3`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.45.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\豪\ms-iot.vscode-ros-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-lo

[2020-05-29 17:43] seanyen commented on #224
@Ayaya0074 Thanks for reporting. Can you attach the `.cpuprofile.txt` file for further troubleshooting?

[2020-06-10 10:10] thunderbug1 opened #233 "[bug] Code-Server cannot find vscode-ros extension"
**what is the bug**
I am trying to install the extension in an ubuntu docker image like so:
`

# install vs code server
RUN curl -fsSL https://code-server.dev/install.sh | sh

# Install vs code extensions
RUN code-server \
   --install-extension ms-vscode.cpptools \
   --install-extension ms-iot.vscode-ros \
   --install-extension eamodio.gitlens \
   --install-extension ms-python.python \
   --in

[2020-06-11 08:31] liangpu597 opened #235 "cannot find ros/ros.h"
**general information**
\<OS version, Ubuntu? Windows?\>
Ubuntu16.04

**what is the bug**
when I write .cpp in /src,
#include<ros/ros.h>
and it mind me : cannot find path /ros/ros.h

and I tried open a command:catkin_make -DCMAKE_EXPORT_COMPILE_COMMANDS=Yes
and open:c_cpp_properties.json
this is my c_cpp_properties.json:
[code]

and it doesn't work.

[2020-06-15 04:40] anton-matosov opened #239 "[bug] URDF Preview renders only last visual, however should all"
**general information**
Pop!OS 20.04 (based on Ubuntu)
extension v0.6.3
vscode 1.46.0

**what is the bug**
URDF Preview renders only the last <visual /> element of the link, which is incorrect. Rviz renders all
![image](https://user-images.githubusercontent.com/3339485/84618596-8a294580-ae87-11ea-8f99-96c3a33d0841.png)

**expected behavior**
All <visual /> elements should be rendered.
Official doc

[2020-06-18 14:35] lusu8892 opened #240 "[feature] Print pretty when c++ ros program is launched thru attach or launch"
**what is needed**
May I ask how to setup pretty-printing when a c++ ros node is launched thru

type: ros
request: attach

or

type: ros
request: launch

The pretty-printing setting for gdb can be easily setup thru setupCommands when launch a C++ program of type: cppdbg. But this setupCommands seems not supported by any type: ros program.

[2020-06-18 16:24] seanyen commented on #240
@lusu8892 Thanks for the feedback. And sorry I am not familiar with the `pretty-printing` thing, can you link some documents, maybe write down steps (or screenshots) to help the team understand the scenario better?

[2020-06-18 16:25] seanyen commented on #239
@anton-matosov Thanks for the reporting. We will be looking into that soon.

[2020-06-18 16:33] lusu8892 commented on #240
![image](https://user-images.githubusercontent.com/10524727/85047080-5a1bc400-b15f-11ea-9756-6818420d3c66.png)

So, as shown in the pc, there are two programs defined in launch.json, only the first could turn on pretty-printing for the underlying gdb debugger. But for the second case, the setupCommands can not be mentioned, so pretty-printing can not be turned on. Pretty-printing is a feature from

[2020-06-21 16:46] gianlucacolucci commented on #205
It would be great to have not just a list of supported features in ROS2 but also some documentation in general for ROS2. Thank you!

[2020-06-24 21:51] PeterMitrano opened #243 "[bug] catkin build tasks not working"
**general information**
Ubuntu
0.6.3

**what is the bug**
Trying to run build gives me
[code]
And the terminal appears to do nothing, showing only:
[code]

**expected behavior**
catkin workspace builds

**additional context**

[2020-06-24 22:00] PeterMitrano commented on #243
It seems something isn't configured right, since none of the ros features seem to work. Trying to start ros core says it failed to launch (not sure where to look for error information?).

[2020-06-25 04:19] PeterMitrano commented on #243
I fixed this using this answer:

https://stackoverflow.com/questions/54092486/visual-studio-code-terminal-blank-screen

and also by fixing my environment variables

[2020-06-25 04:19] #243 closed

[2020-06-25 15:50] Kuppharish opened #246 "Debugging large projects from launch file"
I have been using a SLAM package called lego loam. I have followed all the steps to setup the configuration and debug the launch file. When I run debug (or hit F5). The launch file runs without any errors but only few nodes are active. In the rqt_graph I can see that many nodes and topics are **inactive**. When I run launch directly from terminal I can see that all the nodes are active.

It is not

[2020-06-26 17:09] seanyen commented on #246
@Kuppharish Hi thanks for reporting. Can you share your SLAM package or your roslaunch file?

[2020-06-26 17:12] seanyen commented on #243
cc @humanoid2050, does this look like the same issue you are trying to solve by #241?

[2020-06-26 17:17] humanoid2050 commented on #243
Same error I had.

[2020-06-26 17:28] PeterMitrano commented on #243
just to clarify, I still see this message printed -- but the catkin_make works

[2020-06-26 17:32] humanoid2050 commented on #243
I could run the catkin_make only so long as I didn't try to make it there default build task. Making it default caused the error for me.

[2020-07-01 02:23] Kuppharish commented on #246
Hey @seanyen this is the link of the package I am using,
https://github.com/RobustFieldAutonomyLab/LeGO-LOAM

[2020-07-08 08:49] Tuebel opened #253 "[bug] URDF preview not displayed correctly when using too many spaces in joint origin xyz or rpy"
**general information**
\<OS version, Ubuntu 18.04, ROS Melodic\>
\<Version of the plugin 0.6.3\>

**what is the bug**
When specifiying the following as origin of one of my joints, some parts of the URDF are not displayed. Note the second space between ${PI / 2} and  0 in rpy. The addtional space is written as "_" because github seems to render two spaces as one.
`<origin xyz="0 0 0.2025" rpy="${P

[2020-07-08 17:47] robokamran opened #254 "[bug] There are task errors. See the output for details."
**vscode 1.46.1**
I have vscode for compiling ROS projects on  WSL2 with ubuntu 18.04. I installed the new ROS plugin, project is configured correctly but on trying to build the project with `ctrl+shift+b` I get this pop-up and the following messages on the output window. The making is performed correctly, what is this message trying to say??

	The task provider for "catkin_cmake" tasks unexpected

[2020-07-14 04:17] Hyeokreal commented on #151
Same problem here.

[2020-07-14 04:27] cwillia109 opened #260 "[bug] Could not source the setup file for ROS distro"
**general information**
OS: Ubuntu 18.04
Plugin: 0.6.3
VS Code: 1.47.0
ROS Distro: Melodic

**what is the bug**
Using a fresh install of visual studio code, the extension gives a "Could not source the setup file for ROS distro '/opt/ros/melodic/setup.bash'"

**expected behavior**
The plugin is able to source the ROS setup.

**additional context**
Have tried this with the previous 2 versions of the

[2020-07-14 14:05] Tuebel opened #261 "[bug] URDF preview not displaying meshes in vscode 1.47"
**general information**
Ubuntu 18.04
Plugin version 0.6.3
vscode 1.47

**what is the bug**
In vscode 1.47, meshes do not get loaded / displayed for my URDF. Simple geometries like cylinders get displayed correctly.
![1_47_bug](https://user-images.githubusercontent.com/30152642/87435150-9f5ed480-c5eb-11ea-8ec7-810ed4027ec9.png)

**expected behavior**
Expected behaviour works in vscode 1.46. My robo

[2020-07-15 19:55] #261 closed

[2020-07-16 14:47] matthias-mayr commented on #151
I had the same issue with codium 1.46.1-1592564058 on Ubuntu 18.04. I upgraded `codium` to the latest version 1.47.1-1594810499. I was not able to find this extension in the marketplace after the upgrade anymore, so I downloaded the `vsix` file from the website and installed it manually.
But now this error message is gone.

[2020-07-21 13:19] PeripateticWind commented on #260
My environment is the same as yours, and encountered the same problem.

[2020-08-04 06:22] AndrewWilesRG opened #277 "install this vscode-ros offline on vscode, it reports that unable to install extension "ms-iot.vscode-ros" as it is not compatible with vs code 1.45.2[bug]"
**general information**
\<OS version, Ubuntu? Windows?\>
\<Version of the plugin\>

**what is the bug**
\<current behavior, how to reproduce\>

**expected behavior**
\<what you would expect to happen\>

**additional context**
\<any additional information would be helpful for a better understanding\>

[2020-08-04 20:47] seanyen commented on #277
The latest version (0.6.4) of ROS extension targets to the Visual Studio Code June 2020 release (1.47). Please upgrade your VSCode and re-install the extension again.

[2020-08-04 20:50] seanyen commented on #254
This should be fixed in the latest release 0.6.4. Please upgrade the extension and reopen if you still hit the issue.

[2020-08-04 20:50] #254 closed

[2020-08-04 20:51] #277 closed

[2020-08-04 20:53] seanyen commented on #214
Closing it since it is fixed in the latest release.

[2020-08-04 20:53] #214 closed

[2020-08-05 18:09] robokamran commented on #254
that's fixed thanks!

[2020-08-07 13:40] tirafesi opened #279 "[bug] Extension doesn't work when catkin workspace folder is not the top element in the vs code workspace tree"
If I have multiple folders under the same VS Code workspace, and one of those folders is a catkin workspace, this extension only works if that folder is the first one to appear in the workspace tree. See how in the example below the ROS information in the lower left corner disappears as soon as the catkin workspace is no longer the top element. Even if I open a file from the catkin workspace, the

[2020-08-07 23:57] ooeygui commented on #279
Hi @tirafesi,
Thank you for the report.

The extension keys off the presence of the .catkin_workspace item which is created the first time catkin_make is run. The reason it keys off of this item is that there is magic happening to manage the environment for the workspace. That magic is quite expensive. Without the presence of the key, the extension would have to grovel the filesystem every time it

[2020-08-07 23:57] #279 closed

[2020-08-08 00:09] ooeygui commented on #253
Internally, the extension uses RosWebTools to render. Looking at the RosWebTools, I'm not sure why this manifests - it seems to do the right thing.

[2020-08-08 00:14] ooeygui commented on #235
I'm sorry, I don't understand the request - what specifically doesn't work? Is there a build error? Or are you saying that VSCode isn't finding ros/ros.h?

[2020-08-08 00:14] #235 closed

[2020-08-08 00:18] ooeygui commented on #233
Changed the name. I'm not sure why it wouldn't find it.

[2020-08-08 00:20] ooeygui commented on #224
Can you reopen when you are able to reproduce? (We cannot reproduce locally)

[2020-08-08 00:20] #224 closed

[2020-08-08 00:23] ooeygui commented on #206
Thank you for the report.

roslaunch itself doesn't provide a generic way to handle autolaunching, which is why we took the approach that we did. In order to support this request, we would need to amend roslaunch to expose the details of launch.

I'm going to leave this open, but this is not something we can support from the extension without changes to ros itself.

[2020-08-08 00:24] ooeygui commented on #205
Thank you for the request, we'll be working on improving ROS2 support and documentation.

[2020-08-08 00:25] ooeygui commented on #204
We would love input on what is most useful in the view.

[2020-08-08 10:07] fkromer commented on #205
@ooeygui Thanks a lot!

[2020-08-08 14:12] rhaschke commented on #204
The content in the dashboard view is fine. I'm just missing the ability to search there with Ctrl-F.
Hence, I don't quite understand your question.

[2020-08-08 14:16] rhaschke commented on #206
Is it required that you start the individual nodes yourself?
Could you instead just call roslaunch as usual and _subsequently_ figure out which processes were started?
For debugging you would then attach to those processes in "hindsight". Ok, I already see the limitation of this approach: You cannot debug a node easily from the very beginning...

[2020-08-08 17:17] ooeygui opened #280 "[Feature] Support ARM64 on Windows and Linux"
**what is needed**
VSCode currently does not support ARM64 on Linux. (https://github.com/microsoft/vscode/issues/6442)
However, when it does, ensure that the VSCode ROS extension supports ARM64 Linux platforms.

VSCode supports ARM64 on Windows (https://code.visualstudio.com/updates/v1_47#_stable-windows-arm-builds).
ROS on Windows ARM64 is a backlog item. Once that is further along, we will add s

[2020-08-08 17:23] ooeygui commented on #206
@rhaschke That's correct. Without changes to roslaunch to output the command line for each executable, we can't know what roslaunch intended to do. (Currently the VSCode ROS2 module doesn't support launch debugging; modern roslaunch does not dump launch files in a way that we can hook. This is still a head-scratcher...)

VSCode C++ and Python extensions both support post-launch attach.
This means

[2020-08-10 07:34] thunderbug1 commented on #233
The problem affects code-server as well as vs-code.
I am behind a company proxy and my colleagues have the same setup  but no issues.
When I use a hotspot to connect to the internet it works without any issues.
I already tried to find possible issues with our IT but they say that everything is configured the same for my laptop as for everyone else.
The problem is that I don't even know which IPs s

[2020-08-10 17:32] ooeygui commented on #233
@thunderbug1 It sounds like this problem isn't isolated to the vscode-ros extension. I was considering that maybe this was due to a missing dependency - the vscode-ros extension requires both python and cpptools.

[2020-08-10 17:48] ooeygui commented on #233
Are you able to install it manually afterward?

[2020-08-12 20:17] ooeygui opened #282 "[feature] VSCode Debugging should start ROSCore if not running"
**what is needed**
If ROSCore is not started when VSCode launch debugging is executed, you'll only get a small debug notification and the app doesn't launch.

**why is it needed**
This is different than ROSLaunch on the command line and leads to an extra step during debug sessions.

[2020-08-27 07:16] Timple opened #288 "[feature] Intellisense for .msg files"
**what is needed**
Intellisense for .msg files

**why is it needed**
Often messages consists of other message types. Take for example the [odometry](http://docs.ros.org/melodic/api/nav_msgs/html/msg/Odometry.html) message.

Allowing ctrl+click on these types and ending up in that message would help the workflow a lot.

[2020-08-27 13:39] tlobig commented on #155
I'm stuck with the same problem. Creating the code workspace within the catkin workspace did nothing for me, the launch option does not work since my internal package, i.e. within the given catkin workspace, is not found. I would love to configure the catkin workspace for the extension, then it would be transparent where it is looking for packages.

[2020-08-27 14:03] tlobig commented on #116
I would also need this feature. even adding the sourcing to .bashrc didn't work - standard "source /opt/noetic/ ..." does, but not sourcing from my install within the catkin workspace. It does work for the terminal window, but when I start code from there, the extension does still not recognize my own packages. So I can't ros launch for debugging and i can't use roslaunch from the command palette

[2020-08-27 17:07] gautz commented on #206
It would indeed be a great feature for beginners in MoveIt. It would e.g. allow to debug [MoveIt tutorials](https://github.com/ros-planning/moveit_tutorials/). I suggest to explain this limitation in your doc, [e.g. here](https://github.com/ms-iot/vscode-ros/blob/master/doc/debug-support.md#launch). Namely: "debugging launch files running RVIZ is not supported yet."

[2020-09-02 00:37] ooeygui opened #292 "VSCode ROS extension with Noetic does not work due to Python 3.8"
**what is the bug**
Attempting to debug a ROS launch with Python, causes strange launch issues.

**additional context**
VSCode's python extension does not handle Python 3.8 yet.

[2020-09-15 05:07] cmuell89 opened #299 "Python Unresolved Import Error for Catkin Workspace[bug]"
**general information**
Linux Mint 19.3
ROS Melodic
ROS Extension v0.6.4

**what is the bug**
None of my locally developed packages built using catkin_make/catkin build are successfully resolved as imports despite the inclusion of python.autoComplete.extraPaths.

**expected behavior**
I would hope to have my local ROS packages incorporated into the import tree for happy development.

**additional

[2020-09-15 05:19] cmuell89 commented on #299
Could be related to:
https://github.com/microsoft/vscode-python/issues/13357

[2020-09-16 18:33] ooeygui commented on #292
VSCode Python team has investigated and created the following:
https://github.com/microsoft/vscode-python/issues/13942

[2020-09-20 04:18] anton-matosov commented on #282
+1
I got caught into this many many times in just a single day.
There are 2 possible ways to implement this:

1. Run roscore alongside other ros nodes and have debugger attached to it. That way when you terminate debug session, ros core will also terminate
2. Run a "start ros core" command of the extension. That way roscore will be started and managed by extension and will keep running until you s

[2020-09-21 18:04] anton-matosov opened #305 "[enhancement] Allow customization of the provided tasks"
**what is needed**
vscode-ros extension provides a set of catkin/catkin_make/colcon tasks for building and running tests. However these is no way to customize them right now and developers need to re-create setup from scratch.

**why is it needed**
1. Create a debug build by providing `-DCMAKE_BUILD_TYPE=Debug` to `catkin_make: build task`
2. Run specific tests by customizing run_tests command as

[2020-09-21 18:05] anton-matosov commented on #305
I have start working on this in this branch https://github.com/anton-matosov/vscode-ros/tree/catkinArgs

[2020-09-21 18:08] anton-matosov commented on #305
After working with this for a little while, I realized that all the tasks can essentially be implemented as a single generic task:
`ros-shell` - provides `vscode.ShellExecution` with `env: extension.env` and takes `command` and `args` options
That approach will simplify existing implementation and will provide useful utility to developers allowing them to run any ROS command in the shell environme

[2020-09-23 08:49] #129 closed

[2020-09-23 08:49] #166 closed

[2020-09-26 15:39] myFree opened #309 "Debug - connect to move group"
Thanks for this fantastic plug-in. This is probably more a how-to question than an issue; so please let me know if there is a better channel to post it on.

**what is needed**
I would like to connect a debugger to the running move_group node; in order to debug and step through the source code

**why is it needed**
In line with the great debugging support the plug-in already offers; this can be inc

[2020-09-26 15:50] myFree commented on #309
I have not build moveit from source; and am just opening the repo which I've cloned. I was wondering if I would be able to debug only by installing the debug symbols package - `melodic-moveit-core-dbgsym`

If I run a Ros Debug connect config in the vs-code which has my custom ROS node which I have built; then it successfully goes to the next step of letting me select a process. But; I don't have t

[2020-09-26 17:29] ooeygui commented on #309
@myFree Thanks for the report and the feedback!
Debugging in a container (and WSL2) is something we want to support better, and your write up gives us something to work toward.

Just so I can reproduced your scenario, can you document how you set up ROS and MoveIt in the container and about the container host you are using? (If you are following instructions for this specific setup, if you want to

[2020-09-27 11:42] myFree commented on #309
My host OS is Ubuntu 20; and I have Docker version 19.03.12 installed.

I do not currently have a docker file I can share; as I've been learning ROS through this process; so have been taking frequent "commits" as I build up my environment. If this becomes needed; I can work on creating one.

If there are any specific details from the docker image that could be of higher interest please let me know

[2020-09-28 11:13] myFree commented on #309
After building moveit from source; and am then able to attach to the move_group node and hit break points

So all of the above issues must be with my setup and trying to use `melodic-moveit-core-dbgsym`

[2020-09-28 11:13] #309 closed

[2020-09-28 17:46] ooeygui commented on #309
Thank you for confirming. Be Well!

[2020-10-01 00:42] pzhu008 opened #311 "How can i see the value of elements in STL containers or arrays in debug ? [feature]"
**what is needed**
\<what should be added or updated\>

**why is it needed**
\<brief introduction for better understanding\>

[2020-10-01 10:22] myFree opened #312 "vscode-ros -> c++ debug | show std::string as string during debugging"
**what is needed**
Perhaps this is already supported; but is there a way to configure a launch & attach ROS debug session to pretty print std::string (s)?

**why is it needed**
So we can see the actual value of strings

This has been discussed here - https://github.com/microsoft/vscode-cpptools/issues/201
So I imagine its a matter of passing through the required config?

[2020-10-01 16:40] cmuell89 commented on #299
Update. This is not working with the Jedi server. Jedi appears to parse one file at a time. So when I open an individual file, then the import errors appear.

Anyone else having issues with this?

[2020-10-01 20:12] cmuell89 commented on #299
Many users of ROS still use Python 2.7. Pylance Language Server does not support Python 2.7 syntax and the linking and path updates inside the __init__.py of your built ROS packages in devel/lib/python2.7/dist-packages directory fails to parse correctly.

I think it would be worth documenting this. Switching to Jedi language server works correctly.

[2020-10-03 00:05] nightduck commented on #260
The user-fix I found is to select the "workspace" tab in the extension's settings and type "melodic" into the distro box.
![scrot](https://user-images.githubusercontent.com/10158631/94978248-254f3500-04e2-11eb-83c8-6f25dfe622cd.png)

[2020-10-07 17:12] #312 closed

[2020-10-07 17:15] myFree opened #314 "Red squiggly lines in code that compiles correctly: name followed by '::' must be a class or namespace name"
Happy to copy across the full details if that is helpful; but it seems that the default c++ support is understandably not aware of all the intricacies of the ROS build process.

Do you have any suggestions on if it would be possible to address this?
https://github.com/microsoft/vscode-cpptools/issues/6252

[2020-10-07 20:52] droter opened #315 "command 'ros.previewUrdf' not found [bug]"
**general information**
Ubuntu 16.04
0.6.4

**what is the bug**
Error:  command 'ros.previewUrdf' not found

Steps to reproduce:
ctrl+p
search for ros
click ros.previewUrdf

**expected behavior**
Open preview window with robot model

**additional context**
Used to work.  Not sure what has changed.

Full Error Message:
Command 'ROS: Preview URDF' resulted in an error (command 'ros.previewUrdf' not

[2020-10-14 08:03] myFree opened #318 "Launch file support"
Perhaps there are some features which already support this which I am missing?

**what is needed**
Similar to; and perhaps even built on top of `rqt_launchtree` - various features could be super useful  for understanding launch files

- find all usages of a given launch file
- find usages of a variable within a launch file
- full "tree" of a launch file and all the others it includes

**why is it

[2020-10-16 12:40] TobiMiller commented on #299
How did you fix it?

In Settings (UI) i have set the language server to Jedi. Thats it? Doesnt work for me.

[2020-10-17 17:49] nightduck commented on #205
A video demo would be useful. The [one given by Sean in 2019](https://vimeopro.com/osrfoundation/roscon-2019/video/379127667) says it works with ROS2, but does not cover how to use colcon or what to do with ROS2's lack of a roscore.

[2020-10-19 13:27] JanezCim commented on #314
Red squiggly lines for `ROS_INFO` and for `ros::Time()` dissapeard for me when i switched `"cppStandard": "gnu++14"` to `"cppStandard": "c++14"` in the `.vscode/c_cpp_properties.json`

source of solution: https://github.com/microsoft/vscode-cpptools/issues/5963#issuecomment-685010371

[2020-10-19 14:41] myFree commented on #314
WONDERFUL; thank you!
Reallly helps spot actual issues when every line of logging isn't being incorrectly flagged.

[2020-10-19 14:41] #314 closed

[2020-10-22 03:59] dependabot-preview[bot] opened #324 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/ms-iot/update-logs/51805883).

[2020-10-22 04:32] #324 closed

[2020-10-23 17:23] nightduck opened #325 "ROS2 Daemon Start command not available"
**General information**
Ubuntu 18.04 and ROS2 Dashing
vscode-rot v0.6.4

**What is the bug**
The ros2 commands referenced in PR #103 are not present. It's unclear if I'm using them correctly as the ROS2 functionality is so poorly documented.

**Expected behavior**
Type Ctrl+Shift+P, start typing "ros2" and have the available commands show up. I only see ROS commands.
![Screenshot from 2020-10-23 1

[2020-10-23 17:53] ooeygui commented on #325
Hi @nightduck ,
Thank for the report and screen shot.

The command names are not different between ROS1 and ROS2. After you select the command, we fork off between ROS1 and ROS2 depending on the detected environment for the workspace. (Either by inheriting it from a launched terminal, or by introspecting a previously built workspace).

We would definitely like to improve documentation, and are wor

[2020-10-23 18:36] nightduck commented on #325
Thank you for the quick reply!

For starters, how would I intentionally start the ROS2 daemon?

Also, my ROS2 workspace doesn't seem to be sourced. Going off your comment, I should be able to type the rosrun command, and select my package and then executable launch file. My packages don't show up on the auto-complete list.
![Screenshot from 2020-10-23 13-18-19](https://user-images.githubuserconten

[2020-10-23 18:45] ooeygui commented on #325
Thank you for the writeup, I appreciate the details. (We have a separate documentation bug here https://github.com/ms-iot/vscode-ros/issues/205)

ROS2 debugging isn't well supported at this time. The model we used for ROS1 isn't present in ROS2. (Although Foxy may support the tooling we need in order to implement launch debugging, we have it on the backlog.

Our ROS2 extension uses C++ and Python

[2020-10-25 07:10] goupil35000 opened #326 "[bug] : container docker on remote host - problem with PATH and export VALUES"
**general information**
Ubuntu 20.04.1
1.50 plugin version
ROS 0.6.4

Remote container: ROS Noetic in docker container on Raspberry Pi 4B.

**what is the bug**
LD_LIBRARY_PATH and export values (ROS_MASTER_URI) are not  modified when .bashrc is modified, even after reboot in the ROS commands. But if I open a new terminal in the bottom all values had been correctly setting. It seems that the proble

[2020-10-26 07:02] JaehyunShim commented on #325
@ooeygui

Are you guys also planning to implement the ROS2 lint system as a part of the extension?

Jaehyun

[2020-10-26 17:24] ooeygui commented on #325
@JaehyunShim No, we do not have the lint system on the backlog. I agree - it would be great to have support. Please post an independent feature request on the Github issues.

[2020-10-26 22:45] droter commented on #315
I uninstalled code and reinstalled.  Fixed the problem.

[2020-10-26 22:52] ooeygui commented on #315
@droter Thanks for the report. Sorry I missed this earlier.  The URDF Preview requires a ROS workspace be detected, in order to source the environment that should be used to load the URDF. If the extension does not detect the environment, the commands do not work. I'm investigating a way to make some commands like URDF work independent of a workspace, but it would still require the ROS environment

[2020-10-27 01:15] JaehyunShim opened #327 "[feature] Linter as a part of the extension"
**what is needed**
Linter as a part of the extension

**why is it needed**
[Link](https://github.com/ms-iot/vscode-ros/issues/325#issuecomment-716703733)

An automatic linting system will help a lot while coding. [This](https://index.ros.org/doc/ros2/Contributing/Code-Style-Language-Versions/#codestyle) is the code style for ROS2, and this is the linter [list](https://github.com/ROBOTIS-GIT/turtle

[2020-10-27 15:42] brunoeducsantos commented on #79
@fjp how have you managed to step in the break points?

[2020-10-27 16:05] ooeygui opened #330 "[feature] Enable Debugging rostests"
**what is needed**
Currently launch debugging works on ROS1, but does not allow debugging rostest.

**why is it needed**
Because tests...

[2020-10-27 16:06] ooeygui commented on #79
I'm going to close this issue as launch debugging does work. We need to add launch debugging of rostest https://github.com/ms-iot/vscode-ros/issues/330

[2020-10-27 16:06] #79 closed

[2020-10-29 03:14] cmuell89 commented on #299
Yea Jedi seems to work for me out of the box. Not sure what else to recommend.

[2020-11-06 11:56] sachinkum0009 opened #334 "[bug] Unable to launch the ros2 launch file"
**general information**
\<OS version: 20.04, Ubuntu\>
\<0.6.4\>

**what is the bug**
\<unable to launch the ros2 launch file\>

when I use the roslaunch command from command pallete

[code]
this seems to be working
[code]

Any idea how can we change this???

![Screenshot from 2020-11-06 17-23-21](https://user-images.githubusercontent.com/19277194/98363525-19144580-2055-11eb-84c6-ffeecba57c92.png)

[2020-11-06 14:45] chisarie commented on #155
Hi, I had the same problem. The solution I found is that you need to launch vscode from a sourced terminal window:
[code]

[2020-11-06 23:51] milan-r-shah opened #336 "[bug] Intellisense/Autocompletion [C++] is not working!"
**general information**
OS version: Ubuntu 18.04 LTS
Version of the plugin: v0.6.4

**what is the bug**
Intellisense/Autocompletion is not working!

I have already tried configuring my `c_cpp_properties.json` through this extension by running `ROS: Update C++ properties` command. But still, IntelliSense is not working. Here is my `c_cpp_properties.json` file:
[code]

**expected behavior**
Autocomp

[2020-11-19 17:09] ooeygui commented on #28
No longer repros

[2020-11-19 17:09] #28 closed

[2020-11-19 17:10] ooeygui commented on #29
Launch debugging is supported

[2020-11-19 17:10] #29 closed

[2020-11-19 17:11] #60 closed

[2020-11-19 17:11] #75 closed

[2020-11-19 17:11] ooeygui commented on #77
Please reopen if this still repros

[2020-11-19 17:11] #77 closed

[2020-11-19 17:35] ooeygui opened #340 "[bug] The Docker VS Extension conflicts with autoconfig of the ROS launch Debugger"
**general information**
When you have the Docker Visual Studio Code extension installed, you cannot use the ROS autoconfig from this extension.

**Workaround**
Uninstall the Docker extension, then you can create a launch file using the ROS launch debugger

[2020-11-19 20:14] ooeygui commented on #340
I believe this is related:
https://github.com/microsoft/vscode/issues/110889

[2020-11-19 20:22] ooeygui commented on #340
As a workaround, you can add a launch configuration manually:
[code]

[2020-12-01 10:29] stertingen opened #344 "[bug] Wrong build tool detected"
- [x] Windows: Windows 10 Enterprise Version 1909
- [x] Linux: Ubuntu 20.04.1 LTS (WSL) (uname -a: `Linux *** 4.4.0-18362-Microsoft #1049-Microsoft Thu Aug 14 12:01:00 PST 2020 x86_64 x86_64 x86_64 GNU/Linux`)
- [x] ROS 1: Noetic
- [ ] ROS 2:

Version of the plugin: v0.6.4

Copy the Version information from the `Help | About` menu:
[code]

# what is the bug
Under some circumstances, the ROS extens

[2020-12-01 12:23] FehlerNotFound commented on #155
I have the same issue and finally solved it!
you should:
cd ..._ws
source devel/setup.bash
cd src/
roslaunch (movelt assistant file)

[2020-12-03 10:58] HLrwth opened #345 "[bug] Unable to debug with roslaunch if built with catkin_tools"
(Please add appropriate labels)
- [ ] Windows: (Version)
- [x] Linux:  (Ubuntu 18.04)
- [x] ROS 1: Melodic
- [ ] ROS 2: Dist

Version of the plugin: v0.6.4

# what is the bug
If I build my work space with catkin build and start debugging my roslaunch, it shows "Error from roslaunch".
But if I build with catkin_make it works.

[2020-12-03 15:07] siferati opened #347 "ROS2 Error: Launch request requires an absolute path as target"
I created a `launch.json` file as seen below:

[code]

When I run it, I get the error `Launch request requires an absolute path as target` and nothing happens.

How can I launch my launch file?

[2020-12-03 23:51] ooeygui commented on #340
This has been resolved in vscode - https://github.com/microsoft/vscode/issues/108835

[2020-12-03 23:51] #340 closed

[2020-12-03 23:54] ooeygui commented on #345
We have traditionally only supported catkin_make, which allows us to trigger the extension and load the environment.

[2020-12-03 23:55] ooeygui commented on #345
Changed the title since this is new work

[2020-12-03 23:56] ooeygui commented on #344
Thanks for the report. Today the extension depends on the behavior of catkin_make in order to find the environment.

[2020-12-04 13:29] stertingen commented on #344
I'm sorry if I don't get this right, but … catkin tools are currently supported? And most of the time the ROS extension works well with catkin tools, so why was my issue changed to a request for a feature that already exists?

[2020-12-04 18:30] ooeygui commented on #344
@stertingen There are two sets of Catkin utilities - the official utilities like catkin_make and the *catkin tools*. We do not test the latter. We have had many reports of it not working. Since it isn't officially supported, this work item is about officially supporting it and testing.

[2020-12-08 18:15] LucasWaelti commented on #336
Try to change from `"cppStandard": "gnu++14"` to `"cppStandard": "c++14"`. ROS is using the [c++14 standard](https://www.ros.org/reps/rep-0003.html#melodic), so specifying `gnu++14` seems to break things. This was deduced from [this question](https://answers.ros.org/question/341313/what-happens-if-i-use-c-17-features-in-my-ros-nodes/).

[2020-12-08 18:22] ooeygui commented on #336
@LucasWaelti Thanks for the investigation!

[2020-12-12 12:49] hfr2015 opened #353 "Can not debug two rospy node in a launch file in ubuntu18.04[bug]"
(Please add appropriate labels)
- [ ] Windows: (Version)
- [x] Linux:  (Dist/Version)
ubuntu18.04
- [x] ROS 1: Dist
Melodic
- [ ] ROS 2: Dist

\<Version of the plugin\>
v0.6.4
\<Copy the Version information from the `Help | About` menu\>
Version: 1.50.1
Commit: d2e414d9e4239a252d1ab117bd7067f125afd80a
Date: 2020-10-13T14:44:48.716Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110

[2020-12-20 14:31] shanky24-d opened #357 "[bug] Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-ros`
- Extension Version: `0.6.4`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.52.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\HP\AppData\Local\Temp\ms-iot.vscode-ros-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extensio

[2020-12-22 02:57] ooeygui commented on #357
@shanky24-d  thank you for the report. Can you attach the cpu profile? (your comment only includes your local path, not the file itself)

[2020-12-22 13:06] shanky24-d commented on #357
@ooeygui
cpu profile : [ms-iot.vscode-ros-unresponsive.cpuprofile.txt](https://github.com/ms-iot/vscode-ros/files/5729967/ms-iot.vscode-ros-unresponsive.cpuprofile.txt)

[2020-12-26 21:42] RyanDraves commented on #292
Are there any updates on this bug? I am attempting to use the ROS extension with Noetic/Python3.8 and I'm not having any luck getting the debugging to attach to a node. C++ nodes work fine.

[2021-01-04 08:55] tranvnhan commented on #336
It works for me. Thanks.

[2021-01-04 20:09] tkazik opened #362 "[mini-bug] "version" is missing in c_cpp_properties.json"
**Setup**
- [ ] Linux:  Ubuntu 20.04
- [ ] ROS 1: Noetic
- [ ] Plugin Version: 0.6.4

**VS Code version**
Version: 1.52.1
Commit: ea3859d4ba2f3e577a159bc91e3074c5d85c0523
Date: 2020-12-16T16:32:10.090Z
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.8.0-34-generic snap

**What is the 'bug'**
c_cpp_properties.json is missing property "version"
![vers

[2021-01-05 22:53] Hexafog opened #364 "[bug] Launch files ending with launch.py without the preceding dot are not supported"
- [X] Linux:  (Ubuntu/20.04 LTS)
- [X] ROS 2: Foxy

**Plugin version**
0.6.4

**VS Code version**
Version: 1.52.1
Commit: ea3859d4ba2f3e577a159bc91e3074c5d85c0523
Date: 2020-12-17T00:37:39.556Z
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.4.0-58-generic

# what is the bug
Only launch files ending with .launch.py are automatically found when using

[2021-01-07 20:35] #364 closed

[2021-01-08 14:27] orzechow commented on #114
With VSCode 1.52.1 and vscode-ros v0.6.5, this is still an issue.

When creating a build task for a catkin tools workspace using the plugin (`CTRL+SHIFT+P` → `Tasks: Configure Default Build Task`), this `tasks.json` is created:

[code]

As a result triggering a build fails:

[code]

Clearly, it should have called `catkin build`. These changes in `tasks.json` fix the problem (and nicely set the wor

[2021-01-12 14:39] Mithrandir2k18 opened #369 "[feature] Select Workspace from subfolder of project folder"
**what is needed**
We develop ROS in Docker containers. So our project structure looks like this:
[code]

And the ros extention can only automatically start if a catkin_ws is used as root workspace folder. That doesn't work for our project structure though. What is needed is an option to set a subfolder as catkin_ws.

**why is it needed**
To work with docker containers in remote development this i

[2021-01-12 20:10] bartholmberg opened #370 "[feature] ROS extension to Visual Studio Community"
ROS extension to Visual Studio Community

[2021-01-13 00:05] seanyen commented on #353
@hfr2015 Thanks for reporting. Do you mind to share all the versions of your installed extension? You can get it by `code --list-extensions --show-versions`.

[2021-01-13 00:27] seanyen commented on #347
@siferati Hi, thanks for reporting this issue. I am recently working on adding ROS2 launch debug support in this extension. And I'd like to invite you to try it from [our daily build](https://github.com/ms-iot/vscode-ros/suites/1811091640/artifacts/34801715) and see if it solves this issue. Thanks!

[2021-01-13 00:41] #362 closed

[2021-01-20 08:55] vincentrou opened #374 "[bug] ros2 cpp include dir"
- [x] Linux:  ubuntu 20.04
- [x]  ROS 2: foxy

plugin v0.6.6

vscode v1.52.1

# what is the bug

The file `.vscode/c_cpp_properties.json` does not contain underlayed workspace include path : `"/opt/ros/foxy/include/**"`

[code]
## Repro steps
1. F1 -> ros.updateCppProperties

# expected behavior
The file `.vscode/c_cpp_properties.json` contain underlayed workspace include path : `"/opt/ros/foxy/in

[2021-01-20 23:01] seanyen commented on #334
@sachinkum0009 Can you confirm if it is still a problem on `0.6.6`? We changed\fixed the logic on what to construct the full path for the launch file.

[2021-01-24 04:12] ooeygui opened #376 "[bug] Command `ROS: Create Catkin Package` does not work."
(Please add appropriate labels)
- [X] Windows: (Version)
- [ ] Linux:  (Dist/Version)
- [X] ROS 1: Noetic
- [ ] ROS 2: Dist

\<Version of the plugin\>
0.6.6
\<Copy the Version information from the `Help | About` menu\>
Version: 1.52.1 (user setup)
Commit: ea3859d4ba2f3e577a159bc91e3074c5d85c0523
Date: 2020-12-16T16:34:46.910Z
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-el

[2021-01-24 04:25] ooeygui opened #377 "[feature] Add Color Syntax and Color Preview for URDF Colors"
**what is needed**
While editing a URDF, it would be helpful to add the CSS style syntax and preview for visuals.

**why is it needed**
Because it is cool. And cool is awesome. And it is also helpful.

[2021-01-24 05:49] sachinkum0009 commented on #334
Ok
Thank you
👍

[2021-01-27 03:25] DYFeng opened #379 "[bug] launch not work"
Linux: ubuntu 20.04
ROS 1: noetic
Python 3.8.5

plugin version:0.6.6

Version: 1.52.1
Commit: ea3859d4ba2f3e577a159bc91e3074c5d85c0523
Date: 2020-12-16T16:32:10.090Z
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.8.0-38-generic

# what is the bug
Can not run launch file

## Repro steps
Error message:

Error from roslaunch: Unable to load file XXXXX

[2021-01-28 00:23] CallumJHays commented on #318
I would love the ability to be able to CTRL+click through launch files to the node src, and some intellisense here I think could go a long way; at least with the way my company uses launch files.

[2021-02-02 00:21] seanyen commented on #379
@DYFeng  Thanks for reporting. Can you share your launch file? And it seemed to complain the launch file not with the expected attribute `ingore_unset_args`? Could it be launch file formatting issue?

[2021-02-08 12:36] kvnptl commented on #315
I am facing the same issue. Can you please help me with how to setup?

I am using Windows 10 and VS Code 1.53. I have installed ROS extension as well.

[2021-02-08 14:04] ooeygui commented on #315
@kvnptl I hope this helps:
The VSCode extension leverages the ROS environment from your terminal window in order to find tools like Xacro.

For those who might not know - A catkin workspace is like a visual studio solution, with a specific layout of directories. The "workspace directory" has a "src" directory inside of it, which contains the packages that make up your robotics project. When you bu

[2021-02-15 14:25] Chulabhaya opened #388 "[bug] Unable to see variable values while debugging C++ node"
(Please add appropriate labels)
- Windows 10, Windows Subsystem for Linux (Ubuntu 20.04)
- Noetic

\<Version of the plugin\>
0.6.6

\<Copy the Version information from the `Help | About` menu\>
![image](https://user-images.githubusercontent.com/14856593/107957870-3a979e00-6f6f-11eb-90cc-f09d8bb763e5.png)

# what is the bug
I'm unable to see the values of variables in debug mode

## Repro steps
\<h

[2021-02-19 18:02] #334 closed

[2021-02-21 08:05] goupil35000 opened #393 "[bug] [Ubuntu 20.04.2] [ROS1] System becomes completely unresponsive - Memory Problem with ROS extension in a Docker container"
- [ ] Linux:  Ubuntu 20.04.2
- [ ] Windows: last versions of Windows Insider
- [ ] ROS 1: Noetic

\<Version of the plugin: 0.6.7 or 0.6.6\>

\<Version: 1.53.2\>

# what is the bug
The system becomes unresponsive when activating ROS extension in Docker (the container is configured with ROS activated, catkin_ws ... and ROS works very well without Visual Studio in this container).

## Repro steps
1.

[2021-02-25 01:54] ooeygui opened #396 "[feature] Support Building and Debugging on Windows without Visual Studio installed"
**what is needed**
Add support for installing stand alone SDKs without requiring the full visual studio install.

**why is it needed**
Visual Studio is a large install.

[2021-02-27 16:38] bartholmberg opened #398 "[doc] Build/debug an existing ROS C++ windows project"
Provide an example of existing ROS windows  project [that builds with command line [e.g.-catkin_make] in VS Code and run windows debugger.

[2021-03-03 08:16] JaehyunShim opened #399 "[feature] Request for more user-friendly instruction"
**what is needed**

Hi,

If you see this [link](https://microsoft.github.io/Win-RoS-Landing-Page/#), it says this extension supports ROS2, but I cannot find any instruction about it ([link](https://github.com/ms-iot/vscode-ros)). Something written there about ROS1 is also not really instruction but more like a list of functions for those who already know how to use it. Do you guys have any plan to

[2021-03-04 01:25] JaehyunShim commented on #399
Hi @seanyen

I am not sure if you are the right person to tag here, but I remember you gave lots of advice regarding MS things. Do you have any ideas or advice?

Regards,
Jaehyun

[2021-03-06 01:54] shintarokkk opened #404 "[bug] generates colcon "log" directory everytime opening vscode in new directories"
(Please add appropriate labels)
- [ ] Windows: (Version)
- [x] Linux:  Ubuntu 20.04.2
- [ ] ROS 1: Dist
- [x] ROS 2: Foxy
- [x] colcon: 0.6.1-1 (version of python3-colcon-core)

\<Version of the plugin\>
0.6.7

\<Copy the Version information from the `Help | About` menu\>
?

# what is the bug
\<current behavior\>

When opening vscode with this extension enabled in new directories, "log" directory

[2021-03-14 07:12] EntnyJill opened #411 "[feature] Need to debug ROS nodelets"
**what is needed**
Need to debug ROS nodelets. For example, [HDL Graph Slam](https://github.com/koide3/hdl_graph_slam).

Now we can launch nodelets using vscode-ros or attach with debugger but breakpoints  are unreacheable. VS code shows comments for breakpoints: "Module containing this breakpoint has not yet loaded or the breakpoint address could not be obtained".

**why is it needed**
It's neces

[2021-03-16 08:31] FSund commented on #344
From the [marketplace](https://marketplace.visualstudio.com/items?itemName=ms-iot.vscode-ros) page

Has this been implemented, or is the marketplace text referring to something ?

[2021-03-18 15:22] caioaamaral commented on #393
I'm incurring into the same problem.
Linux: Ubuntu 20.04
ROS 1: Kinetic

[2021-03-19 08:42] goupil35000 commented on #393
Hi,
The problem is still here for me. So now I launch code from inside docker and it's working like this.
But this is not a solution to the problem, only a solution to have something working.
Hope this helps.

[2021-03-22 18:29] synaptic opened #414 "[bug] Cannot launch RViz using remote extension"
- [x] Windows: Windows 10
- [x] Linux:  Ubuntu 20.04
- [x] ROS 2: foxy

Plugin version: 1.54.3

# What is the bug
I'm not sure if this is a vscode-ros issue vs a vscode-remote-extensionpack issue, but I thought I would start here.  Launching Rviz on the Linux remote machine works in the Windows' VS Code's integrated terminal, assuming you have an X11 client running and you have exported the DISPLA

[2021-03-24 08:57] johnny09 opened #415 "can not launch ros package"
(Please add appropriate labels)
- [ ] Windows: (Version)
- [ ] Linux:  (Dist/Version)
- [ ] ROS 1: Dist
- [x] ROS 2: Dashing

\<Version of the plugin\>
0.6.7
\<Copy the Version information from the `Help | About` menu\>
Version: 1.54.3
Commit: 2b9aebd5354a3629c3aba0a5f5df49f43d6689f8
Date: 2021-03-15T10:55:24.277Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS

[2021-03-24 21:02] kappa95 opened #416 "Intellisense on Foxy not working correctly"
Hi, I have tested this plugin with ROS Kinetic and it is very nice. Are there some way for working with ROS2? Because it seems that Intellisense doesn't work with ROS2 Foxy.

Thank you so much!

[2021-04-01 19:00] ooeygui commented on #416
Thanks! Yes this does work with Foxy. Although, I'll check on the intellisense issues.

[2021-04-02 13:39] agutenkunst commented on #416
This sound pretty much like https://github.com/ms-iot/vscode-ros/issues/374

[2021-04-02 14:03] agutenkunst commented on #374
Seems like with ros2 the extension is trying to get the include path from the environment variable `COLCON_PREFIX_PATH` see

https://github.com/ms-iot/vscode-ros/blob/a50f699259e9e397e7d05c7c6e429d8bb8c2ea94/src/ros/ros2/ros2.ts#L64-L80

but maybe it should use `AMENT_PREFIX_PATH`. But I am not sure what workspace setups exist in which distro. Also see https://github.com/ros2/ros2/issues/855#issue

[2021-04-02 14:58] kappa95 commented on #416
I think to have solved adding the "cppStandard: c++14" instead of c++11. And adding the include in the ROS folder

[2021-04-08 14:28] dirk-thomas commented on #374
(I am sorry, but I am not involved with the project at this point in time. So my answer might be very brief.)

`COLCON_PREFIX_PATH` isn't available when packages are build without `colcon`. That is e.g. the case for the Debian packages. Therefore I think `AMENT_PREFIX_PATH` would be a better choice.

[2021-04-13 07:25] goupil35000 commented on #393
Before posting here, I asked a question in a more general forum:
https://github.com/microsoft/vscode/issues/111020#issuecomment-817617824

It seems that the problem occurs also with Melodic.

[2021-04-14 01:16] RyanDraves commented on #330
Could you describe more details on what needs to be added with this feature request? I'm working on general `rostest` support, but I've noticed that I'm already able to the existing launch debugging on rostest files. `roslaunch --nodes [launch file]` and `roslaunch --args [node] [launch file]` is already doing a good job parsing rostest syntax (`<test/>` over `<node/>`), so test nodes are successf

[2021-04-14 01:57] ooeygui commented on #330
Hi @RyanDraves,
Thanks for the note. The VSCode Debugger needs to launch the executables under the appropriate debug subsystem. It uses `roslaunch --dump-params` to introspect the parameters that roslaunch would have launched each executable with, then launches them independently with the debugger. roslaunch with a rostest file actually fails in this codepath, so we can't get the launch parameters

[2021-04-14 04:42] RyanDraves commented on #330
Thank you for the quick reply! Could you expound on situations in which `roslaunch --dump-params` is failing? I added parameters to my rostest file, as well as test cases to assert their values, and everything is working for me just fine.

Here's the rostest file I created:
[code]

And here's the result I received when running `roslaunch --dump-params src/test_package/launch/test.launch`:
[code]

[2021-04-14 15:34] #292 closed

[2021-04-14 15:34] ooeygui commented on #292
This bug has been corrected with the latest python vscode extension.

[2021-04-14 15:35] ooeygui commented on #330
Thanks for the writeup. I'll see if I was hitting a transient bug.
I'll take a look at this again.

Thanks for pointing out the other issue - that was fixed by our friends in the Python VSCode extension team. We were waiting for a deployment before closing that - I simply forgot :-(

[2021-04-16 09:29] igricart opened #428 "[bug] Launch Debugging does not appear to work on Ubuntu"
(Please add appropriate labels)
- [ ] Windows: (Version)
- [x] Linux:  (Ubuntu/18.04)
- [x] ROS 1: Melodic
- [ ] ROS 2: Dist

\<Version of the plugin\>

\<Copy the Version information from the `Help | About` menu\>
Version: 1.55.2
Commit: 3c4e3df9e89829dce27b7b5c24508306b151f30d
Date: 2021-04-13T09:37:02.931Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Lin

[2021-04-16 13:15] nicolaje commented on #393
Hello, I have the exact same problem here, enabling the vscode-ros extension with VSCode attached to a docker container will crash the computer by consuming all memory, see attached pictures.

VSCode version :
1.55.2
3c4e3df9e89829dce27b7b5c24508306b151f30d
x64

Docker version 20.10.6, build 370c289

The docker container is based on a simple Ubuntu image.

VSCode-ros extension version : v0.6.7

ms

[2021-04-16 14:35] caioaamaral commented on #393
Maybe it's a problem with the `includePath`s. When I define `C_Cpp.default.compileCommands` inside my `.code-workspace` it works fine

[2021-04-18 13:45] nicolaje commented on #393
What do you set the "C_Cpp.default.compileCommands" command to ?

[2021-04-18 15:48] ooeygui commented on #393
@nicolaje Thank you for the analysis. I'll look into this problem this week.

[2021-04-18 16:40] nicolaje commented on #393
Great, @ooeygui  let me know if I can help you with this.

[2021-04-18 16:53] ooeygui commented on #374
@dirk-thomas Thank you for the feedback - @agutenkunst Thank you for the contribution!

[2021-04-18 16:54] #374 closed

[2021-04-18 17:14] ooeygui commented on #428
roscore currently needs to be running for launch debugging to work.
https://github.com/ms-iot/vscode-ros/issues/156

However, there is an inprogress feature to automatically launch roscore https://github.com/ms-iot/vscode-ros/pull/429

[2021-04-18 17:18] ooeygui commented on #415
Thank you for the report. The ROS2 VSCode extension was implemented for Eloquent forward.
I'm going to close this since [Dashing is is EOL in May](https://dlu.github.io/ros_clock/).

[2021-04-18 17:18] #415 closed

[2021-04-19 02:55] RyanDraves opened #431 "[feature] Automatically start ROS2 daemon when launch debugging"
**what is needed**
When using launch debugging, the daemon should be automatically started for ROS2 if it is not currently running.

**why is it needed**
Launch debugging currently requires the daemon to be manually started before it will work. Automatically starting the ROSCore was only added for ROS1 in #429, and the feature should be mirrored for ROS2.

[2021-04-19 05:19] ooeygui commented on #393
@nicolaje Could you provide more details on how I can reproduce this? Is there a docker image I can pull which exhibits the memory issue?

I've tried to reproduce this using the official ros docker images for melodic with a simple catkin workspace on an ubuntu 18.04 native host, with VSCode 1.55.2 and ROS 0.6.7 and the vscode remote extensions. I started the container in interactive mode, then att

[2021-04-19 08:04] nicolaje commented on #393
Hi Lou,

I will try to give you a reproductible example. Have you run your test with a workspace that's been already built ?

If I activate the ROS extension in VSCode docker where there are no **build** and **devel** folders it doesn't crash. If I then build the workspace, the extension doesn't crash.

But I I re-launch the container, VSCode attached to the container and activate the extension wi

[2021-04-19 10:16] goupil35000 commented on #393
Hi Lou,
I confirm the problem is still present and that the problem only occurs in these cases:
- you use vscode outside of docker, directly on the host;
- if you have the extension ROS opened in docker container (and ROS name appeared in the bottom);
- if roscore is not running in docker container. If roscore is running before launching code, the problem doesn't occur.

We had multiple times the

[2021-04-19 12:13] nicolaje commented on #393
@goupil35000  has a point, it doesn't happen when roscore is running in docker !

On this picture, roscore is running in the container (top left terminal), and the workspace is opened with VSCode attached to the container (as you can see with the ">< Container ros:seasam (/ros)" on the bottom left of VSCode window. There is no memory issue.

![with_roscore](https://user-images.githubusercontent.co

[2021-04-19 13:50] igricart commented on #428
I have the same behavior even with roscore running

[2021-04-19 15:01] goupil35000 commented on #393
Hello Nicolaje,

Could you tell what are the 6 port forwarded in the bottom (center) of the screen. Click on it to get this information.
I created a new container with just ros noetic and it seems that I no longer have the problem. But I have no forwarded port at the bottom. When I'm looking at my previous videos, I have 1 forwarded port.
I don't know if this is related to our problem.

One last t

[2021-04-19 15:20] nicolaje commented on #393
There are a lot of auto-forwarded ports :

![ports](https://user-images.githubusercontent.com/1287229/115260757-536d2d00-a133-11eb-99b9-2cffa8a7c7dc.png)

Thank you for notifying me about my webpage, I like to think indeed that I will put it back online one day :)

[2021-04-19 17:30] ooeygui commented on #393
If I follow this thread correctly, does this only repro if you build your workspace on the host and project it into the container?

[2021-04-19 21:02] goupil35000 commented on #393
Hello Lou,
Thanks for your reply. I tried to find a simple way to reproduce the problem. It's not exactly what I had with my students, but I think it's related to.
Here are the different steps.

Hope this helps you to find the problem.
Configuration: Ubuntu 20.04.2, Vscode 1.55.2 + extensions (all with the last versions) Python, Jupyter, ROS, Docker

Goupil

=========================== BEGINNING =

[2021-04-20 03:41] ooeygui commented on #393
@nicolaje @goupil35000
Thank you for your time on this, I really appreciate it!
I'm really struggling to reproduce this locally. I suspect there may be another environmental issue which is conspiring to cause this. Would you be willing to set up a video conference with me and help me get a repro? If this is interesting to you, can you connect with me on linkedin so we can set up a screen share?

h

[2021-04-20 10:02] goupil35000 commented on #393
Hi Lou,
Sorry I'm not on Linkedin. I'm going to sign in, so I need some time to be familiar with the interface.
If you don't have this problem, maybe we can connect with a screen share at the end of this week (friday afternoon ? -- I'm in France).
I include a video here:
https://user-images.githubusercontent.com/8226158/115373132-dcd03e00-a1cb-11eb-88f0-567f740e8caa.mp4

I continued to investigate

[2021-04-20 18:12] flynneva opened #432 "[feature] merging tools from vscode-colcon-helper"
**what is needed**
would be great to merge this extension with the tools from https://github.com/deitry/vscode-colcon-helper.

**why is it needed**
building and testing using `colcon build` and `colcon test` would be great.

[2021-04-20 20:48] ooeygui commented on #393
Thank you for the video link. I found the root cause of the bug.

This line creates a interval to update the icon (200ms seems a bit fast to me, I'll fix that):
https://github.com/ms-iot/vscode-ros/blob/384bb178a1cddee53175075f6b671d90758c2bb0/src/ros/ros1/core-helper.ts#L201

This creates a promise, which appears to never return:
https://github.com/ms-iot/vscode-ros/blob/384bb178a1cddee53175075f6

[2021-04-21 01:57] ooeygui commented on #393
[Plot thickens](https://www.youtube.com/watch?v=cphNpqKpKc4).

Even just doing 1 xmlrpc request on a port forwarded port causes this issue to manifest. I'll see if I can repro with a simple extension.

[2021-04-21 02:33] ooeygui commented on #393
Confirmed that this can be reproduced with a simple extension that just does an xmlrpc call on a forwarded port with no listener.

[2021-04-21 08:07] nicolaje commented on #393
Good job !
Let me know if you want the fix to be tested

[2021-04-22 10:11] #416 closed

[2021-05-01 15:56] hengjiUSTC commented on #379
same issue. My launch config
[code]

[2021-05-01 15:59] hengjiUSTC commented on #379
Run ROS: Launch in debug get:
[code]

[2021-05-01 16:00] hengjiUSTC commented on #428
I got similar issue and detail in #379

[2021-05-02 04:39] lovelyyoshino commented on #379
Using vscode multi-file debugging found that roslaunch can not be found, which means that there is no corresponding path.So first, check to see if "c_cpp_properties.json" is included in the project's "includePath" :Such as "{$workspaceFolder} / SRC/robot_test/ * *", and then check whether to add the file path to the to / ~ /.bashrc and then source it. Finally, reopen VS Code and re-test.

[2021-05-02 04:40] lovelyyoshino commented on #428
Using vscode multi-file debugging found that roslaunch can not be found, which means that there is no corresponding path.So first, check to see if "c_cpp_properties.json" is included in the project's "includePath" :Such as "{$workspaceFolder} / SRC/robot_test/ * *", and then check whether to add the file path to the to / ~ /.bashrc and then source it. Finally, reopen VS Code and re-test.

[2021-05-02 04:57] hengjiUSTC commented on #379
Thanks it work after I add `source workspace_path/devel/setup.bash` to ~/.bashrc. But I feels it pretty wired to add work space path to my global bashrc, is there better way to let ROS launch know correct path?

[2021-05-02 07:49] lovelyyoshino commented on #379
Generally there is no good way, or you can try to map the files to the ROS folder. Docker can also be used to do related operations

[2021-05-04 17:53] TylerLeonhardt opened #441 "Support Workspace Trust"
Hello :wave:  I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as *Workspace Trust*. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execut

[2021-05-06 04:20] weizhuowang opened #443 "[bug] URDF preview no longer work after VS Code update"
(Please add appropriate labels)
- [ ] Windows: (Version)
- [x] Linux:  Ubuntu 18.04
- [x] ROS 1: Melodic
- [ ] ROS 2: Dist

\<Version of the plugin\>
v0.6.7

\<Copy the Version information from the `Help | About` menu\>
Version: 1.56.0
Commit: cfa2e218100323074ac1948c885448fdf4de2a7f
Date: 2021-05-04T21:58:14.757Z
Electron: 12.0.4
Chrome: 89.0.4389.114
Node.js: 14.16.0
V8: 8.9.255.24-electron.0
OS

[2021-05-06 17:26] ooeygui commented on #443
Thank you for the report.

[2021-05-06 17:28] ooeygui commented on #443
Few Questions:
Are you launching vscode from a ROS environment?
Is the URDF file within a ROS node?
Has the ROS node been built?

[2021-05-06 21:49] weizhuowang commented on #443
- Are you launching vscode from a ROS environment?
No I launched vscode from start menu and opened the catkin folder manually
- Is the URDF file within a ROS node?
Yes, to be specific urdf file is located at: catkin_ws/src/project_name/package_name/urdf/xxxxx.urdf.xacro
- Has the ROS node been built?
Yes I invoked catkin_make and sourced devel/setup.bash beforee I preview the urdf. No luck.

[2021-05-07 05:23] ooeygui commented on #443
Looks like we are hitting some cross site scripting issue:
[code]

or

[code]

[2021-05-07 06:07] ooeygui commented on #443
This is going to require more investigation. It looks like the URI scheme that vscode used changed. but the docs haven't been updated.

We used to be able to handle `vscode-resource:`. Now it looks like it is through https and `<guid>.vscode-webview-test.com`. However, replacement doesn't seem to find the local resources.

Plot thickens.

[2021-05-07 15:41] ooeygui commented on #443
This seems to be related to this bug in vscode https://github.com/microsoft/vscode/issues/122951. I'll follow up internally.

[2021-05-07 22:34] ooeygui commented on #443
Still working on this.

[2021-05-15 10:44] rickstaa commented on #132
@seanyen For future reference now that VsCode has switched to using [debugpy](https://visualstudiomagazine.com/articles/2020/03/20/vs-code-python-debugger.aspx) the work-around should be updated to:

[code]

I also tried the using the `wait_for_client` method of the [debugpy](https://github.com/microsoft/debugpy) debugger but it required more worth since I then had to set a fixed port for the debu

[2021-05-17 15:29] ooeygui commented on #443
0.6.8 is in the pipeline, which includes a fix for this on latest vscode.

[2021-05-17 15:50] ooeygui commented on #443
Thank you for reporting, 0.6.8 is now live with the fix.

[2021-05-17 15:50] #443 closed

[2021-05-18 22:48] ooeygui opened #452 "[feature] Support RelWithDebInfo for the build tools"
**what is needed**
Support building a workspace with Symbols so debugging functions correctly on Linux.

[2021-05-18 22:51] ooeygui commented on #441
Will be investigating in the June release.

[2021-05-21 03:43] TaylorDale opened #455 "ROS Commands not working on VS remote"
We have VSCode remote set up and running to develop on a remote Linux Ubuntu machine. After installing the ROS extension, all of the commands included do not work.

- ROS Melodic
- Windows 10 host, Ubuntu 18.04 client

EG: Command 'ROS: Update C++ Properties' resulted in an error (command 'ros.updateCppProperties' not found)

[2021-05-21 05:11] lyh458 opened #456 "[bug] Not activate even I start vscode in the root directory of workspace in Ubuntu 14.04"
(Please add appropriate labels)
- [x] Linux:  ubuntu 14.04
- [x] ROS 1: indigo

\<Version of the plugin\>
0.6.8

\<Copy the Version information from the `Help | About` menu\>

Version: 1.56.0 (I have tried version of vscode from 1.35.x - 1.56.0)
Commit: cfa2e218100323074ac1948c885448fdf4de2a7f
Date: 2021-05-04T21:58:14.757Z (2 wks ago)
Electron: 12.0.4
Chrome: 89.0.4389.114
Node.js: 14.16.0
V8: 8.

[2021-05-21 15:46] tkazik commented on #344
There seems to be a catkin-tools extension now, see [here](https://marketplace.visualstudio.com/items?itemName=betwo.b2-catkin-tools).

[2021-05-27 16:35] ooeygui commented on #455
Hi @TaylorDale
Thank you for the report. Can you tell me what version of vscode and the ROS extension you are using? Also, what kind of client? Is VSCode opened on a ROS workspace? (Meaning that you've opened a ROS workspace folder, not just navigated to a folder which contains a ROS workspace).  Is the ROS extension installed in the remote container?

[2021-05-28 00:09] TaylorDale commented on #455
Hi, Thanks for the reply. I've just logged in today and it all of a sudden seems to be working again. Must have just needed a reboot or something.

Much appreciated.

For posterity:

- VSCODE: 1.56.2, ROS EXT: 0.6.8
- AARM64, Nvidia Jetson AGX Xavier
- ROS workspace is directly opened
- Extension shows as installed ("Extension is enabled on "SSH:host")

[2021-05-28 00:09] #455 closed

[2021-05-28 00:41] ooeygui commented on #455
Thank you for following up - I do appreciate it.

Please do post back if you see any other issues.

Also note, that if you are debugging C++, you'll need to manually build with symbols. I'm working on a fix to build automatically with symbols so that it works out of the box.

[2021-06-02 16:16] rickstaa commented on #132
@seanyen Closing this since it seems to be fixed in v0.6.8. I'm not 100% sure, but I haven't seen the error for a while. @seanyen Closing this since it seems to be fixed in v0.6.8. If other people run into this error, feel free to comment, and I will reopen. Or create a new issue request.

[2021-06-02 16:16] #132 closed

[2021-06-04 20:08] ooeygui opened #463 "[bug] When debugging, sometimes the launch file is opened"
# what is the bug
When debugging a ROS node with a lunch file, the launch.json file opens.

# Expect
It doesn't open... I just shut it anyway.

[2021-06-06 15:15] wbadry opened #464 "[feature] add roslaunch support"
**what is needed**
Added command "ROS: launch a launcher file (roslaunch)

**why is it needed**
The support of launch files would be very helpful.

[2021-06-06 15:30] wbadry opened #465 "How to allow multiple terminals on integrated vscode terminal ?"
Hello,
I created a launcher file for `turtlesim_node` , `velocity_publisher` and `pose_subscriber`

[code]

My problem is that I had to create an external terminal using `launch-prefix="gnome-terminal --command"` to monitor both 'publisher' and 'subscriber` messages.

Is there any way to use multiple integrated terminals within `vscode` like running multiple `rosrun` nodes? In other words, can I u

[2021-06-06 15:31] #464 closed

[2021-06-07 15:59] ooeygui commented on #465
The VSCode ROS node extension exposes many commands through the VSCode command Pallet. You can access that using 'ctrl-shift-P'.  The command you want is 'ROS: Create Terminal'. Looking at the VSCode extension API, I don't see a way to enable this external launch back to the originating window.

One thought, you can have a single launch file which includes your sub-launch files, and load them all

[2021-06-07 17:04] #330 closed

[2021-06-08 03:05] ooeygui commented on #414
Sorry for the delay in responding to this - I missed it when it first came in.

I believe this is actually a vscode issue; It looks like it is trying to debug a URL instead of a file; not sure what code path this is going through.

[2021-06-08 03:08] ooeygui commented on #393
This has been corrected upstream. Thank you for working through this with us!!!

[2021-06-08 03:08] #393 closed

[2021-06-08 03:10] ooeygui commented on #388
This is occurring in the VSCode C++ debugger itself, not the ROS extension. However, I'm marking it as we might need to update configuration.

[2021-06-08 03:11] ooeygui commented on #379
Does this bug still repro for you? It should be sourcing the environment correctly.

[2021-06-08 03:13] ooeygui commented on #353
Closing; Please reopen with information if you can repro.

[2021-06-08 03:13] #353 closed

[2021-06-08 07:53] nicolaje commented on #393
Thank you for the follow up and your time !

Best regards

[2021-06-08 15:45] wbadry commented on #465
Thanks, @ooeygui for your response. Unfortunately, this would be equivalent to calling `rosrun` multiple time 😄

Thanks again for being dedicated to work on this

![bitmoji](https://sdk.bitmoji.com/render/panel/c10864c1-2acd-4397-89d0-3a5667aab6d2-71b02184-2095-4d38-bd2a-172a43ec6f05-v1.png?transparent=1&palette=1&width=246)

[2021-06-08 16:09] ooeygui commented on #465
Hi @wbadry,
I think I see what you are trying to do. Unfortunately, vscode doesn't have this model. I am planning on adding rqt like functionality, which allows you to monitor specific topics; would that be useful?

[2021-06-08 16:14] wbadry commented on #465
@ooeygui it would be very indeed

[2021-06-15 00:39] igor-markovic opened #472 "[bug] Preview URDF Error loading webview"
- Linux:  Ubuntu 20.04.2 LTS
- ROS 1: noetic
- ROS plugin version 0.6.8

- VSCode Help -> About:
Version: 1.57.0
Commit: b4c1bd0a9b03c749ea011b06c6d2676c8091a70c
Date: 2021-06-09T17:18:42.895Z
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Linux x64 5.8.0-55-generic

# what is the bug
Error loading webview: Error: Could not register service workers: InvalidSt

[2021-06-15 01:16] igor-markovic commented on #472
Issue no longer occurs after restarting computer.

[2021-06-15 01:16] #472 closed

[2021-06-15 02:53] ooeygui commented on #472
Thank you for reporting and following up. I'll keep my eye out for this - not sure where that error is coming from.

[2021-06-15 13:59] Hypothesis-Z commented on #388
I have the same problem. A temporary solution I found is to enter the command `-exec -enable-pretty-printing` in the DEBUG CONSOLE, but it does not work for a new launch.

I'm expecting a new release to fix it.

[2021-06-15 15:04] ooeygui commented on #388
@Hypothesis-Z Awesome - Can you provide more details or a PR with the fix?

[2021-06-16 10:26] Hypothesis-Z commented on #388
@ooeygui I'm not a typescript programmer. Anyway, I guess appending a property `setupCommands` to the configuration may work.
[code]

https://github.com/ms-iot/vscode-ros/blob/d56efda20b054cb2f1dc6e0a19e89ebf9bd0553f/src/debugger/configuration/resolvers/ros1/launch.ts#L275-L284

[2021-06-16 15:02] ooeygui commented on #388
Awesome!!! Thank you for the pointer, I'll take a look in the next batch of vscode work.

[2021-06-17 04:16] ooeygui commented on #452
Completed

[2021-06-17 04:16] #452 closed

[2021-06-17 04:16] ooeygui commented on #441
Completed

[2021-06-17 04:16] #441 closed

[2021-06-17 04:16] ooeygui commented on #431
Completed

[2021-06-17 04:16] #431 closed

[2021-06-17 04:25] ooeygui commented on #456
Hello @lyh458,
We do not support anything earlier than melodic - including indigo, as these distributions are end of life.

[2021-06-17 04:25] #456 closed

[2021-06-17 11:36] rickstaa opened #474 "[bug] ROS launch can not load launch file that includes gazebo (program path 'PATH' is missing or invalid)"
### System info

**Version:** 1.58.0-insider
**Commit:** 3e0c442a8ee9fdc037d627d70fe291f72af04cfd
**Date:** 2021-06-16T05:18:57.982Z
**Electron:** 12.0.11
**Chrome:** 89.0.4389.128
**Node.js:** 14.16.0
**V8:** 8.9.255.25-electron.0
**OS:** Linux x64 5.8.0-55-generic
**ROS VERSION:** ROS 1 Noetic
**VSCODE-ROS VERSION:**

### what is the bug

This week I was not able to debug a ROS launch script any

[2021-06-17 11:41] rickstaa commented on #474
I think it has something to do with the fact that vscode doesn't allow the gazebo_gui to be launched. I will check if I can fix this by setting the DISPLAY variable.

[2021-06-17 17:09] ooeygui commented on #474
This error looks like it is coming from gdb, not vscode - does gazebo run on your system?
Are you actually debugging gazebo or a plugin? If not, I'd recommend creating a separate launch file for just the code you are debugging and launch everything else separately.

[2021-06-17 20:27] rickstaa commented on #474
@ooeygui Thanks for your response. I'm currently using your suggestion as a workaround. I, however, was wondering why this issue came up in the last week. The gazebo simulator is working. A launch file that loads the gazebo is working when I run it in the terminal; however, when I try to debug such a gazebo launch file using the vscode-ros debugger I get the error.

I think your right that the gdb

[2021-06-17 20:32] ooeygui commented on #474
@rickstaa The VSCode ROS extension processes the launch file to identify the launched files and command lines - then calls out to the vscode-cpptools. the vscode-cpp tools extension independently updates.  It looks like there was a large update at the end of May; perhaps this coincides with when you observed this issue?

I have to set up a reproduction of this to see where the failure is. I'm not

[2021-06-17 20:53] rickstaa commented on #474
@ooeygui Ah, I see; I haven't used this feature since the beginning of May so that the upstream update could have caused the error I'm experiencing. I looked through the [vscode-cpp tools](https://github.com/microsoft/vscode-cpptools/issues) issues, but I couldn't find a related issue. I added a gif of the behaviour I experienced next to the example (reproduction) GitHub. The strange thing is that

[2021-06-18 02:55] ooeygui commented on #474
@rickstaa Thank you for the gif - that is really helpful! I did a VSCode ROS release in May which included several fixes - took an action item to set up a repro and debug this.

[2021-06-18 06:24] rickstaa commented on #474
@ooeygui Thanks a lot for looking into it. I created the [following repository](https://github.com/rickstaa/ros-gazebo-launch-bug/blob/main/launch/broken_gazebo_launch.launch) to reproduce the issue. Let me know if you need any other info or help.

[2021-06-18 06:38] rickstaa commented on #152
@kejxu I will close this since this bug is also being investigated in the newer issue of @yassiezar.

[2021-06-18 06:38] #152 closed

[2021-06-18 07:23] rickstaa commented on #218
This also appears to happen when using gdm3.

[2021-06-18 13:12] rickstaa commented on #474
For other people that also experience this issue. You can still debug your scripts using the vscode-ros `Attach` feature. You can use the code below to wait for the debugger.

[code]

[2021-06-21 12:59] danneboom commented on #240
I'd really appreciate this feature. It enables you to debug std library containers like strings, vectors, maps etc. Without this line, the variables view is simply not usable.

Just check this example:
[code]

Without pretty printing:
![image](https://user-images.githubusercontent.com/20741239/122765374-ba78a080-d2a0-11eb-90d3-a555d381f0e4.png)

With pretty printing enabled:
![image](https://user-

[2021-06-23 16:01] roycey commented on #370
@bartholmberg can you explain what you meant?

[2021-06-23 17:30] bartholmberg commented on #370
Visual Studio Code has/had ROS build extension [ e.g.- catkin].    Did not see this with VS Community.  I think the issue was there wasn't much available cross-platform for VS code with C++ [yet?]

[2021-06-23 20:45] ooeygui commented on #370
@bartholmberg The Visual Studio Code extension API isn't compatible with Visual Studio Community/Enterprise, To support Visual Studio, a completely new extension would need to be built.
ASK: Which features of Visual Studio you'd like to use which aren't available in VSCode?

[2021-06-24 09:37] maciej-autobon commented on #347
@seanyen I just stumbled upon this Issue and your response and I was wondering: is `ros2 launch ...` command supported? Should I be able to enter a breakpoint with gdb when running my code this way?

[2021-06-24 16:19] ooeygui commented on #347
@maciej-autobon Yes, this should be supported. When running on Linux, we haven't been building with Symbols through the UI - that fix will be released shortly. If you pass `colcon build --cmake-args -DCMAKE_BUILD_TYPE=RelWithDebInfo` then breakpoints will be hit.

[2021-06-25 01:31] ooeygui commented on #156
This has been completed.

[2021-06-25 01:31] #156 closed

[2021-06-25 10:51] maciej-autobon commented on #347
@ooeygui Thanks for the answer! :)
I haven't tried it yet, all my launch commands are using `ros2 run ...` but I'll give the `ros2 launch ...` a go and let you know how it went.

[2021-06-26 11:41] maciej-autobon commented on #347
@ooeygui It works!
Awesome work you guys, thanks!

I've used [Allison Thackston template](https://www.allisonthackston.com/articles/vscode-docker-ros2.html) for ROS2 and vscode and I've pushed a [commit](https://github.com/MTDzi/ros2_vscode_test/commit/337cdc51f02e22b336d6c4231c66c2a459fcbbf1) (it's my other account) that tests out this `ros2 launch ...` functionality, in case anyone else is inter

[2021-07-10 18:49] martinerk0 commented on #288
Shouldn't intellisense somehow do autocomplete for msgs since they are compiled into C++ and Python classes? I too have problems that in some functions with some messages autocomplete does work and with other does not. It Would be cool if someone provided **how to setup C++ extension/intellisense/autocomplete** in  ROS since there are ton of threads/questions on the internet and lot of people have

[2021-07-10 21:10] winstxnhdw commented on #404
Bump. I get this issue as well.

[2021-07-12 19:27] stef264 opened #496 "[bug] [Linux] ROS Extension detects every folder as a ROS workspace"
- [ ] Linux:  Ubuntu 20.04
- [ ] ROS 2: foxy

\<Version of the plugin\>
v0.6.8

Version: 1.58.0
Commit: 2d23c42a936db1c7b3b06f918cde29561cc47cd6
Date: 2021-07-08T06:53:55.113Z
Electron: 12.0.13
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Linux x64 5.10.0-1034-oem

# what is the bug
\<current behavior\>
Every folder i open with vscode gets detected as ROS workspace.

## Rep

[2021-07-12 20:29] ooeygui commented on #496
Thank you for the remote - this is smilar to https://github.com/ms-iot/vscode-ros/issues/404/

[2021-07-13 02:11] ooeygui commented on #432
This extension supports colcon build. I have a work item to support colcon test, like we do for catkin_make and catkin tests.

[2021-07-13 02:22] ooeygui commented on #344
Catkin tools is supported - https://github.com/ms-iot/vscode-ros/blob/master/src/build-tool/catkin-tools.ts. It looks like the check is currently not working.

[2021-07-13 03:56] #432 closed

[2021-07-13 16:54] ooeygui commented on #370
I appreciate your interest in a Visual Studio ROS extension. Since this would be a new extension, I'm going to close this issue on the VSCode extension github. We will evaluate this for future investments.

[2021-07-13 16:54] #370 closed

[2021-07-13 17:00] ooeygui commented on #288
When there is no c_cpp_properties.json file in the workspace, the VSCode ROS extension synthesizes one from the environment, which includes the AMENT/Catkin environment, development workspace, and ROS workspace includes. This works for msg files as well:
![image](https://user-images.githubusercontent.com/4564624/125494264-c1a4e42f-44f5-4f52-928b-d26c41a9ae28.png)

If you have an existing configura

[2021-07-13 17:04] gavanderhoorn commented on #288
I believe the request is to be able to auto-complete etc actual `.msg` files. Not the generated C++ sources.

[2021-07-13 17:16] ooeygui commented on #288
@gavanderhoorn Ah - thanks for clarifying. Reopened.

[2021-07-13 17:59] ooeygui commented on #404
Thank you for the report. This has been fixed and will be released shortly

[2021-07-13 17:59] #404 closed

[2021-07-13 17:59] ooeygui commented on #496
Thank you for the report. This has been fixed and will be released shortly.

[2021-07-13 18:17] gavanderhoorn commented on #288
Would that need a language server implementation for the [msg](http://wiki.ros.org/msg) format?

For ROS 2, this could simply be DDS OMG IDL.

[2021-07-13 18:23] #496 closed

[2021-07-13 18:36] ooeygui commented on #357
https://code.visualstudio.com/api/working-with-extensions/bundling-extension.

[2021-07-13 18:43] ooeygui commented on #288
I'm going to have to dig into this. https://code.visualstudio.com/api/language-extensions/programmatic-language-features. I think you are right, it would need a language server and symbol database.

[2021-07-13 18:43] #388 closed

[2021-07-13 18:54] gavanderhoorn commented on #288
Could be a nice internship project. The `msg` spec isn't that complex and frameworks like [openlawlibrary/pygls](https://github.com/openlawlibrary/pygls) should reduce complexity even more (as it takes care of the protocol layer).

OMG IDL though .. :)

[2021-07-13 19:34] ooeygui commented on #428
Fixed - we now build with symbols on Linux by default.

[2021-07-13 19:34] #428 closed

[2021-07-13 19:34] ooeygui commented on #411
Fixed - We now build with Symbols by default

[2021-07-13 19:34] #411 closed

[2021-07-13 19:53] ooeygui commented on #463
This occurs with the vscode API:
https://github.com/ms-iot/vscode-ros/blob/7d43d124ab2fcde88d898890e8cff57a71fd30bb/src/debugger/configuration/resolvers/ros1/launch.ts#L302

I've reached out to the API owners to see if there's way to suppress this.

[2021-07-13 19:56] ooeygui commented on #379
Please reopen if you still reproduce this. My only guess is that the extension isn't detecting this as a valid workspace, therefore not sourcing the setup.bash.

[2021-07-13 19:56] #379 closed

[2021-07-15 02:06] ooeygui commented on #474
gzserver and gzclient are shell scripts. Our code detects python, but not shell scripts, so it treats it as a binary program.

I'm going to add some code to detect this case and just launch it.

[2021-07-15 02:25] ooeygui commented on #463
This looks like the reason:
https://github.com/microsoft/vscode/blob/4d50d169012f4abfe867572c828e8a85002ad1e2/src/vs/workbench/contrib/debug/browser/debugService.ts#L448

[2021-07-15 07:41] rickstaa commented on #474
@ooeygui Ah I see thanks again a lot for looking into this problem!

[2021-07-17 01:44] shintarokkk commented on #404
Thank you!

[2021-07-19 14:14] Bi0T1N commented on #399
If you just open VS Code and look at the core status it'll say its offline but if you run the `Start Core` function, the ROS2 system status changes to online. For that VS Code starts the [ROS2 Daemon](https://answers.ros.org/question/327348/what-is-ros2-daemon/).

To attach to a running ROS2 node you need to do the same steps as for [ROS1](https://github.com/ms-iot/vscode-ros/blob/master/doc/debug

[2021-07-19 14:24] JaehyunShim commented on #399
This question was asked a long time ago and I somewhat figured out a solution. Thanks!

[2021-07-19 16:13] ooeygui commented on #399
I'll make the ROS2 instructions more explicit and add ROS2 specific walkthroughs.

[2021-07-27 16:56] CDietzel opened #513 "[bug] launch.json for ros package does not pass launchfile args to roslaunch"
- Linux:  (Ubuntu 20.04.2 LTS)
- ROS 1: Noetic
- VSCode ROS Version: 0.6.8

Version: 1.58.2
Commit: c3f126316369cd610563c75b1b1725e0679adfb3
Date: 2021-07-14T22:30:16.440Z
Electron: 12.0.13
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Linux x64 5.8.0-55-generic

# what is the bug
I am trying to set up a launch configuration to run a ROS .launch file.  This launch file is de

[2021-07-28 18:14] rickstaa commented on #513
Thanks for raising this issue. I also experience this problem in:

**Version:** 1.58.2
**Commit:** c3f126316369cd610563c75b1b1725e0679adfb3
**Date:** 2021-07-14T22:30:16.440Z
**Electron:** 12.0.13
**Chrome:** 89.0.4389.128
**Node.js:** 14.16.0
**V8:** 8.9.255.25-electron.0
**OS:** Linux x64 5.8.0-63-generic

and:

**Version:** 1.59.0-insider
**Commit:** e437d424c5e6de97632f5513229c7ebc2cf27a32
**D

[2021-08-03 09:11] perisage opened #519 "[bug] ROS extension doesn't work on"
(Please add appropriate labels)
- [ ] Windows: (Version)
- [ ] Linux:  (Dist/Version)
- [ ] ROS 1: Dist
- [ ] ROS 2: Dist

\<Version of the plugin\>

\<Copy the Version information from the `Help | About` menu\>

# what is the bug
\<current behavior\>

## Repro steps
\<how to reproduce the bug. Please attach sample files or github repo if appropriate.\>
1.
2.
3.

# expected behavior
\<what you wou

[2021-08-03 15:30] oOK1Oo opened #521 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-ros`
- Extension Version: `0.6.8`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.58.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-08-03 22:59] malda6 opened #522 "aaaaa"
Issue Type: <b>Bug</b>

aaa

Extension version: 0.6.8
VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>mul

[2021-08-04 20:56] malda6 opened #524 "[bug]"
(Please add appropriate labels)
- [x] Windows: (Version)
- [x] Linux:  (Dist/Version)
- [x] ROS 1: Dist
- [x] ROS 2: Dist

\<Version of the plugin\>

\<Copy the Version information from the `Help | About` menu\>

# what is the bug
\<current behavior\>

## Repro steps
\<how to reproduce the bug. Please attach sample files or github repo if appropriate.\>
1.
2.
3.

# expected behavior
\<what you wou

[2021-08-15 16:52] ooeygui commented on #524
Please provide details. Thanks!

[2021-08-15 16:52] #524 closed

[2021-08-15 16:52] ooeygui commented on #522
Please provide details.

[2021-08-15 16:52] #522 closed

[2021-08-15 16:52] ooeygui commented on #521
Please provide details.

[2021-08-15 16:52] #521 closed

[2021-08-15 16:53] ooeygui commented on #519
Yes, we're getting ready to release an update.

[2021-08-15 16:56] ooeygui opened #532 "[bug] ROS extension initialization does not complete when not open in a ROS workspace."
(Please add appropriate labels)
- [X] Windows: (Version)
- [ ] Linux:  (Dist/Version)
- [X] ROS 1: Dist
- [X] ROS 2: Dist

Prepublished from August 2021

Version: 1.59.0 (system setup)
Commit: 379476f0e13988d90fab105c5c19e7abc8b1dea8
Date: 2021-08-04T23:13:12.822Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Windows_NT x64 10.0.22000

# what is the bug
When

[2021-08-17 00:01] ooeygui commented on #532
Closing, this is actually by design. It will select the first distro if only one is installed - otherwise it doesn't know which to source for future operations.

[2021-08-18 19:47] kjeremy opened #533 "Update formatter"
The C++ code formatting is out of date with https://github.com/PickNikRobotics/roscpp_code_format/blob/master/.clang-format and should be synced up.

[2021-08-20 08:57] bxh1 commented on #513
I meet the same bug

[2021-08-22 05:37] coder-day2up opened #537 "[bug] command 'ros.startCore' not found, when workspace not detected"
hello, there is one issue when i use the vscode-ros plugin.
ubuntu version:14.04
vscode version:1.40
vscode-ros version:0.6.2
C/C++ plugin ,python plugin : installed for vscode-ros
(1)when i click right on the "src" directory to perform "caktin create package",there is no response. in fact, it should popup one bar for me to type the name of the newpackage.
(2) when i try to perform "ros.startcore"

[2021-08-23 10:00] NovoG93 commented on #537
Same for me for all commands provided by this extension.

Ubuntu 20.04
vscode version:1.59.1
vscode-ros version:0.6.8

[2021-08-23 16:29] chris-ferone commented on #537
I also have the same problem. None of the extension commands work. I get the  "command 'ros.startCore' not found"  error message.

v0.6.8 ROS exstension

**From VS code about menu:**
Version: 1.59.1
Commit: 3866c3553be8b268c8a7f8c0482c0c0177aa8bfa
Date: 2021-08-19T11:54:37.513Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Linux x64 5.11.0-27-generic

**From

[2021-09-02 07:39] nicolaje commented on #315
Hi @ooeygui ,

I am using VSCode inside a Docker container with the Remote containers extension.

Everything is setup so that VScode opens the ROS workspace.

Sometimes the ROS extension works perfectly, and sometimes it doesn't work, see the following message :

![Screenshot from 2021-09-02 11-33-54-1](https://user-images.githubusercontent.com/1287229/131802099-b6f576f5-09f0-4a38-b9be-eec58dc362d

[2021-09-02 15:04] ooeygui commented on #315
@nicolaje Thanks for the report. The ROS extension is getting quite large, so can take time to load. I have a work item in 0.7.0 to use webpack (fixing https://github.com/ms-iot/vscode-ros/issues/357) to improve launch performance.

To make sure that this isn't a perf bug, can you verify and answer a few things for me?
Did you installed the ROS extension in the container?  (from the screenshot, it

[2021-09-07 05:42] nicolaje commented on #315
Hi @ooeygui Lou,

thank you for your feedback.

The extension is listed in the devcontainer.json "extensions" list and is correctly installed inside the container.

Following are the **weird** steps that got everything working again :

I put "/opt/ros/noetic/setup.zsh" in the Ros: distro settings of the ROS extension and rebuilt + reopen the container

That of course got me the error message that

[2021-09-07 11:24] FSund opened #550 "[bug] Python import could not be resolved for my own module"
(Please add appropriate labels)
- Linux:  Pop!OS 20.04
- ROS 1: Noetic
- ROS extension v0.6.9
- Python extension v2021.10.1200408502-dev

VSCode
Version: 1.59.1
Commit: 3866c3553be8b268c8a7f8c0482c0c0177aa8bfa
Date: 2021-08-19T11:54:37.513Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Linux x64 5.11.0-7620-generic

# what is the bug
Importing my local ROS p

[2021-09-07 16:58] ooeygui commented on #315
@nicolaje Thanks for the context. I'll do some digging. Some things stood out - including using zsh. (The extension is explicitly looking for bash)

[2021-09-09 11:18] Serafadam opened #552 "[bug] ROS2 status not visible in remote docker container"
(Please add appropriate labels)
- [ ] Windows: (Version)
- [x] Linux:  (Ubuntu/18.04, Jetson Xavier NX)
- [ ] ROS 1: Dist
- [x] ROS 2: Galactic

\<Version of the plugin\>
Released on
6/28/2019, 23:09:22
Last updated
8/25/2021, 22:18:38
Identifier
ms-iot.vscode-ros

VSCode About info:
Version: 1.60.0
Commit: e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff
Date: 2021-09-01T10:43:02.136Z
Electron: 13.1.8
Ch

[2021-09-09 17:42] ooeygui opened #554 "[feature] Implement ROS: Clean"
**what is needed**
Implement `ROS: Clean` which cleans a ROS Workspace.

**why is it needed**
When switching between distros or upgrading build components, a previously built workspace can be out of date. Cleaning the workspace today is a manual process. Having a quick way to build clean would be very useful.

[2021-09-14 07:28] GaHooooo opened #557 "[Doc] Provide video walkthrough of setting up a debugging session with ROS2."
I try the way  which supported by ROS1
https://github.com/ms-iot/vscode-ros/blob/master/doc/debug-support.md#attach
but it can't work when i have a try in ROS2
dose any document  with HOW TO DEBUG  NODE WITH ROS2
hope anyone can reply me ,THANKS

[2021-09-14 15:17] ooeygui commented on #557
Hi there,
I'm working on videos and will post them on the walkthrough page. In the mean time:
VSCode ROS works on launch files - you'll need to create a launch file which launches just the nodes you want to debug. In the debug tab, create a configuration - you'll see `ROS` as one of the items. chose that, then launch, and select your new launch file.

You can then debug normally.

[2021-09-24 22:43] ooeygui opened #563 "[bug] ROS extension is no longer detected for automatic configuration for C++ or Python"
# Problem
VSCode no longer recommends the ROS extension for debug setup when a C++ or Python file is selected.

[code]

[2021-09-30 00:34] lilustga opened #566 "[bug] Environment variables not read when debugging roslaunch"
(Please add appropriate labels)
- [X] Windows: 21H1 19043.1237
- [ ] Linux:  (Dist/Version)
- [X] ROS 1: Noetic
- [ ] ROS 2: Dist

plugin version: v0.6.9

# what is the bug
Launching a ros launch file with `env` or `envopt` tags does not read the environment variables.

## Repro steps
\<how to reproduce the bug. Please attach sample files or github repo if appropriate.\>
1. Set the project environ

[2021-09-30 12:30] mnissov opened #567 "[feature] Debugging ros2 launch file"
I see a lot of content regarding how one can setup vscode for debugging a ros node. Is it possible to debug the launch file itself?

This may not have been so interesting in ros1, but in ros2 with the added complexity of the python launch file format I feel it could be useful if it doesn't yet exist. In short, is it currently possible to debug the launch file itself in ros2 foxy and if so how?

Us

[2021-10-12 10:23] studentWUR opened #571 "[Doc] Debugging does work on ubuntu20.04 with ros noetic"
The ros attach debugger does not seems to work. I followed the readme, but somehow it does not work.
Does anyone have an idea what  I am doing wrong? Is it because of this authentication error.
System information: ubuntu20.04, ros Noetic
![debugging2](https://user-images.githubusercontent.com/46886112/136938661-5cd81093-95e7-48f8-af53-9b466da7d5a4.gif)

[2021-10-19 15:30] cslxiao opened #578 "[bug] catkin build cannot work"
(Please add appropriate labels)
- [ ] Linux:  (Ubuntu/18.04)
- [ ] ROS 1: Melodic

\<Version of the plugin\>
0.6.9

\<Copy the Version information from the `Help | About` menu\>
Version: 1.61.1
Commit: c13f1abb110fc756f9b3a6f16670df9cd9d4cf63
Date: 2021-10-14T01:15:35.620Z
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Linux x64 5.4.0-87-generic

# what is th

[2021-10-21 06:49] cslxiao commented on #578
I found using this config can temporarily solve this problem:
[code]

[2021-10-31 17:05] robotrancher opened #586 "[bug] System Symbols are not exposed to the ROS Launch task; not passed through"
(Please add appropriate labels)
- [X] Windows: (Version)
- [X] Linux:  (Dist/Version)
- [X] ROS 1: Dist
- [X] ROS 2: Dist

## Repro steps
Debug a ROS application.
Install symbols, say from http://ros-win,visualstudio.com/ros-win.
Result: System symbols are not available.

# expected behavior
Able to set symbol path as described https://code.visualstudio.com/docs/cpp/launch-json-reference, specific

[2021-11-01 15:57] #578 closed

[2021-11-01 17:54] GarethZhang opened #588 "[bug] Unable to start debugging. Launch options string provided by the project system is invalid. Unable to determine path to debugger. Please specify the "MIDebuggerPath" option."
(Please add appropriate labels)
- [ ] Linux:  20.04
- [ ] ROS 1: Noetic

Plugin version 0.6.9

# Bug description
I am developing ROS nodes in a remote Docker container.

I followed the document at https://github.com/ms-iot/vscode-ros/blob/master/doc/debug-support.md to set up my debugging environment to debug via a ROS launch file.

In the Run and Debug window of VSCode, when I run `ROS: Launch` f

[2021-11-02 11:52] Mithrandir2k18 opened #589 "[bug] ROS Extention activates in non-ros project and messes up highlighting of variables(colored as parameters)"
- Linux:  Ubuntu 20.04

- Plugin Version: 0.6.9

# VSCode Info
Version: 1.61.2
Commit: 6cba118ac49a1b88332f312a8f67186f7f3c1643
Date: 2021-10-19T14:58:13.605Z
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Linux x64 5.4.0-89-generic snap

# what is the bug
After launching vscode from the terminal using `code /path/to/repo` VSCode launches and displays the cod

[2021-11-02 11:55] Mithrandir2k18 commented on #589
Okay nevermind, sorry for posting. I was able to reproduce the issue earlier and it always appeared at the same time as the ros-extension loading and disabling it seemed to fix it. 10 Minutes later and disabling ROS doesn't fix the issue anymore, so the issue has to be elsewhere...

[2021-11-02 11:55] #589 closed

[2021-11-02 13:18] chenjunnn opened #591 "[bug] Feature `Resolve dependencies with rosdep shortcut` does not support ROS2"
- [ ] Windows: (Version)
- [x] Linux:  (Ubuntu/20.04)
- [ ] ROS 1: Dist
- [x] ROS 2: Galactic

\<Version of the plugin\> v0.6.9

# actual behavior
![image](https://user-images.githubusercontent.com/57067221/139854134-d7277bb5-b4e9-4a74-8c9d-102245f6f6a7.png)

# expected behavior
![image](https://user-images.githubusercontent.com/57067221/139853984-a4f59bd6-3a49-4331-816a-ede3a9e25f0b.png)

[2021-11-02 16:03] ooeygui commented on #591
Thank you for the bug - yep, I missed that.

[2021-11-04 17:43] ooeygui commented on #532
This needs to go away.

[2021-11-05 11:37] rickstaa commented on #474
@ooeygui Did you manage to fix this issue? I noticed that the behaviour is still present in [v0.6.9](https://github.com/ms-iot/vscode-ros/releases/tag/v0.6.9).

[2021-11-05 18:23] ooeygui commented on #474
@rickstaa I'm sorry, no, I haven't worked on this yet. It's one of the top items I want to fix in 0.7.0.

[2021-11-06 08:58] rickstaa commented on #474
@ooeygui No problem. I was just curious. Thanks a lot for all the work you do for this extension.

[2021-11-06 20:47] ooeygui opened #593 "[bug] Support multi-root workspaces"
# what is the bug
The VSCode ROS extension makes use of `vscode.workspace.rootPath` which has been deprecated in favor of `vscode.workspace.workspaceFolders`. This will break in future VSCode releases, so should be fixed asap.

See use in `src\ros\build-env-utils.ts`

[2021-11-06 22:37] ooeygui commented on #151
Closing, I cannot reproduce this. If you are able to get a stack trace, or a pointer to a repo or which can reproduce this, please reopen

[2021-11-06 22:37] #151 closed

[2021-11-06 22:38] ooeygui commented on #586
Addressed in https://github.com/ms-iot/vscode-ros/pull/587

[2021-11-06 22:38] #586 closed

[2021-11-07 16:28] ooeygui commented on #474
@rickstaa I appreciate that comment :-) Thank you!

[2021-11-07 16:29] ooeygui commented on #357
I'm working on the webpack for this, it should radically decrease load times and startup costs.

[2021-11-07 16:33] ooeygui opened #595 "[feature] Extension should automatically source Windows build tools"
**what is needed**
When running on Windows, VSCode needs to be launched from a ROS command prompt in order to inherit the build environment.

**why is it needed**
This prevents just launching VSCode on a ROS Workspace and building. This causes user confusion on Windows. This is not a problem on Linux as the build environment is part of the Linux environment, so not a separate step.

[2021-11-08 00:26] ooeygui opened #596 "[feature] Allow user to select merge-install or symlink install"
**what is needed**
Allow the user to configure the build so that they can select merge install or symlink install

**why is it needed**
Several reasons:
* symlink has consequences on Windows
* The resulting binaries can be copied to another system
* there may be build errors associated with symlink which do not manifest with merge

[2021-11-08 22:49] ooeygui opened #600 "[feature] Distro Selection interface"
**what is needed**
VSCode ROS extension can sometimes guess wrong on the distro needed for a workspace. Or maybe a workspace is being migrated from ROS1 to ROS2, it would be helpful to have UI to select the distro instead of having to modify the global setting for a specific workspace

[2021-11-09 20:18] ooeygui opened #604 "[feature] Support ROS1 and ROS2 Code formatting independently."
**what is needed**
ROS1 and ROS2 code styles are a bit different, the latter closer to the 'google' style, with fewer exceptions (per conversation with Dave and Griswald). The VSCode ROS Extension currently only supports a single code formatting style.

Request switching the default code formatting based on distribution.

[2021-11-12 04:42] ooeygui commented on #563
This seems to be a function of this issue in vscode - https://github.com/microsoft/vscode/issues/110889.  Our DebugConfigurationProvider simply isn't called.

[2021-11-13 12:02] sink0918 opened #606 "[bug] ROS attach "your 131072x1 screen size is bogus, expect trouble""
- [ ] Windows: (Version)
- [x] Linux:  (Ubuntu/20.04 WSL2)
- [ ] ROS 1: Dist
- [x] ROS 2: Galactic

\<Version of the plugin\>
v0.6.9

\<Copy the Version information from the `Help | About` menu\>
![image](https://user-images.githubusercontent.com/57067221/141642982-d76fa3a1-ed6f-44f2-9ffd-330823aba77a.png)

# what is the bug
Using ROS attach to debug with an error msg:
![image](https://user-images

[2021-11-13 18:07] ooeygui commented on #414
Added debug launch filtering. I didn't want to exclude rviz or gazebo completely from debugging, as this enables debugging extensions and plugins; but this allows the user to remove them from consideration for debugging.
https://github.com/ms-iot/vscode-ros/pull/605

[2021-11-13 18:07] ooeygui commented on #533
https://github.com/ms-iot/vscode-ros/pull/603

[2021-11-13 18:27] ooeygui commented on #463
This looks like it is going to be a huge refactor of the debug system; I'm going to remove it from 0.7.0

[2021-11-13 18:29] ooeygui commented on #513
We use 'arguments' internally - https://github.com/ms-iot/vscode-ros/blob/894a975708cad7c8687a0fc6d25a2c18d4672e85/src/debugger/configuration/resolvers/ros1/launch.ts#L26.

I updated the doc in https://github.com/ms-iot/vscode-ros/pull/605.

[2021-11-13 18:31] ooeygui commented on #606
This was fixed in https://github.com/ms-iot/vscode-ros/pull/544. It will be release with 0.7.0, which I'm working toward by 11/19/21.

[2021-11-13 18:32] #606 closed

[2021-11-13 18:33] ooeygui commented on #591
Quick fix, I'll add it to 0.7.0

[2021-11-13 18:35] ooeygui commented on #571
The debuggers require symbols in order to debug. Did you build with the internal catkin_make? We pass `-DCMAKE_BUILD_TYPE=RelWithDebInfo` when using ctrl-shift-b and select `catkin_make`
https://github.com/ms-iot/vscode-ros/blob/894a975708cad7c8687a0fc6d25a2c18d4672e85/src/build-tool/catkin.ts#L11

[2021-11-13 18:35] ooeygui commented on #567
I'll look into it - I don't see why this can't be supported.

[2021-11-14 07:26] MentosSeetoo commented on #588
It seems that `vscode-ros` is running based on GDB debugger.
If you are using WSL2 in windows, you may need to check whether the GDB debugger is installed or not.
Or you can simply try to install GDB debugger by:
`sudo apt install gdb`

[2021-11-15 16:35] ooeygui commented on #588
I should add some code to detect this when creating a launch file.

[2021-11-15 17:02] GarethZhang commented on #588
@MentosSeetoo Thanks! Got it working by installing GDB debugger!

[2021-11-15 17:03] #588 closed

[2021-11-15 17:09] ooeygui opened #609 "[feature] Detect if GDB is installed and note when creating a launch file"
**what is needed**
Add code to detect if GDB is installed, specifically for WSL2; notify user that it is not installed.

**why is it needed**
This helps user understand the manual steps needed to make debugging work.

[2021-11-15 19:05] ooeygui opened #610 "[bug] Build warning when using -DCMAKE_BUILD_TYPE=RelWithDebInfo, pass -Wno-dev"
Python only ROS packages will issue a warning about CMAKE_BUILD_TYPE not being used; this is forced when using vscode to build a repo in order to get symbols for debugging. We should also pass the -Wno-dev so that it doesn't warn for things the user can't control.

[2021-11-17 03:22] Existever opened #611 "[bug] cannot attach remote machine for debug"
(Please add appropriate labels)
- [x] Linux:  18.04
- [x] ROS 2: Eloquent Elusor | November 22nd, 2019

\<Version of the plugin\>
v0.6.9

\<Copy the Version information from the `Help | About` menu\>

# what is the bug
hi,i can't attach to remote machine to debug ros2 node

## Repro steps
\<how to reproduce the bug. Please attach sample files or github repo if appropriate.\>
1.  set the configurat

[2021-11-20 15:13] grishalipenko commented on #552
Hi!
I didn't build ROS2 from source. And I had same problem with container running on my PC:
1. Run container in linux terminal.
2. Attach through Remote-Containers extension in VSCode to running container.
![image](https://user-images.githubusercontent.com/18384142/142731186-e6d65132-bf35-4dd5-9cd8-22b10084ca1c.png)
![image](https://user-images.githubusercontent.com/18384142/142731206-a27ba8b1-35

[2021-11-30 17:54] polyhobbyist commented on #611
In order to debug remotely, you'll need to use the SSH remote extension to remotely connect. Once VSCode is connected, you'll need to install the ROS extension remotely. You can then debug from that context.

[2021-12-01 21:43] ooeygui opened #617 "[feature] support localization"
**what is needed**
The ROS Extension has many strings which are hardcoded in the sources. This is not localization friendly. Implement VSCode extension localization in order to support other languages.

[2021-12-01 21:44] ooeygui opened #618 "[feature] Implement Keyboard gimble for URDF"
**what is needed**
The URDF previewer only supports mouse navigation; keyboard navigation is useful for trackpads or other input modalities.

[2021-12-01 21:47] #533 closed

[2021-12-01 21:47] ooeygui commented on #463
Happens always

[2021-12-03 02:49] polyhobbyist opened #620 "[bug] ImportError: cannot import name 'OrderedDict' when debugging ROS2 in Jetson Container"
(Please add appropriate labels)
- [ ] Windows: (Version)
- [X] Linux:  (Dist/Version)
- [ ] ROS 1: Dist
- [X] ROS 2: Foxy

\<Version of the plugin\> 0.7.0

## Repro steps
Create a dockerfile which derives from dustynv/ros:foxy-slam-l4t-r32.5.0, with a docker-compose which instantiates it like:

[code]
# expected behavior
Attempt to debug a ROS2 launch file.

[code]

the nvidia containers have an o

[2021-12-09 15:54] gonultasbu commented on #261
Hello, is this issue fixed? It seems like I am still experiencing the same issue.

[2021-12-09 17:26] ooeygui commented on #261
Hi @gonultasbu ,
This specific issue has been corrected and verified working with 0.6.9 and vscode 1.63.0.
Can you share your vscode data? In VSCode, goto `Help`, `About`, then select copy, and paste it as a comment?

Internally, the VSCode extension uses a webview which hosts ROS Web Tools.
Are you disconnected, or on a network which requires a VPN or Proxy?

[2021-12-09 17:30] gonultasbu commented on #261
Hi @ooeygui, thank you for your quick response.

I am running ros and vs code in WSL2, maybe that could be the reason?

`Version: 1.63.0 (user setup)
Commit: 7db1a2b88f7557e0a43fec75b6ba7e50b3e9f77e
Date: 2021-12-07T06:26:56.179Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22000`

[2021-12-09 18:14] ooeygui commented on #261
Thanks for clarifying, and working with me to diagnose this. I'm not able to repro this using the WSL remote extension.
Are you running VSCode in WSL using the desktop rendering bridge?

Can you do the following:
* Close the blank URDF preview.
* Goto `Help` `toggle Developer tools`
* Then reopen the URDF preview on the URDF file

Can you share the output you see in the debug tools console window?

[2021-12-10 00:08] gonultasbu commented on #261
Thanks for your help! This is the error I get.

`Could not load geometry mesh: ./meshes/mesh_cylinder.obj`

The referred geometry mesh is the file I have in the corresponding folder, which is read correctly by the simulator I am using. Maybe I need to state the full path to the .obj mesh I am using and relative paths don't work?

[2021-12-10 00:41] ooeygui opened #623 "[bug] URDF Preview does not handle relative paths."
When a URDF includes a relative path to an object, the URDF fails to render.

[2021-12-10 00:42] ooeygui commented on #261
Can you try prefixing the mesh object `package://<packagename>/meshes/mesh_cylinder.obj` in the URDF?

In order to work within the VSCode sandbox, we have to modify the paths that is encoded in the urdf. it doesn't currently handle relative paths. I created https://github.com/ms-iot/vscode-ros/issues/623 to track it. Would it be possible for you to add an example to that new bug?

[2021-12-10 02:01] SubaruArai opened #624 "[bug] debugger with ROS: Launch failed with NodeParamsException"
(Please add appropriate labels)
- [x] Linux:  (Ubuntu 16.04)
- [x] ROS 1: Kinetic

\<Version of the plugin\>
v0.6.9

\<Copy the Version information from the `Help | About` menu\>

# what is the bug
\<current behavior\>
when starting debugger with launch, it fails with the following message in a popup window:
[code]
(Please substitute `package_name`, `user_name`, `file_name` for their actual names)

[2021-12-10 02:16] gonultasbu commented on #261
I tried giving absolute system file path like this:

`/mnt/c/Users/burak/Documents/GitHub/diffnav/data/urdf/simple_ackermann/meshes/mesh_cylinder.obj` or

`file:///mnt/c/Users/burak/Documents/GitHub/diffnav/data/urdf/simple_ackermann/meshes/mesh_cylinder.obj`

but it still returns the same could not load geometry mesh error. Would that be also considered under the same bug?

[2021-12-10 02:26] ooeygui commented on #261
Unfortunately, yes, it's the same bug. ultimately the code tries to replace package://<packagename> with a vscode redirect.
Here's the codepath that is failing for fully qualified or relative paths - https://github.com/ms-iot/vscode-ros/blob/691323d5c4ec429977e8eab85c094612b47060e4/src/urdfPreview/preview.ts#L119.

[2021-12-10 02:39] gonultasbu commented on #261
Thanks for the guidance. Is there a workaround for this issue for the current version?  A sample working path string would be very helpful here.

[2021-12-10 04:49] ooeygui commented on #261
The workaround is to refer to the mesh using the ROS package:// URI. The mesh needs to be in a ROS package, and the URI would include the package name. for example: if I have a ROS package called `foo`, with a mesh folder in it containing a file `mesh.dae`, I the URDF would link to `package://foo/mesh/mesh.dae`.

Fixing this is going to take a bit of time; I need to release 0.7.0, then I can inclu

[2021-12-10 05:17] gonultasbu commented on #261
Thanks for your assistance; I will comment some examples to #623 tomorrow.

[2021-12-10 19:52] gonultasbu commented on #623
referring to #261
one example relative path to this would be:
`./meshes/mesh_cylinder.obj`

The same failure also occurs with absolute system paths such as:
`/mnt/c/Users/burak/Documents/GitHub/diffnav/data/urdf/simple_ackermann/meshes/mesh_cylinder.obj`
or
`file:///mnt/c/Users/burak/Documents/GitHub/diffnav/data/urdf/simple_ackermann/meshes/mesh_cylinder.obj`

[2021-12-14 03:16] MingFengHill commented on #623
Error details are not available when loading UFDF files. Is there a way to get the error log？

[2021-12-14 03:21] gonultasbu commented on #623
@MingFengHill please refer to this comment https://github.com/ms-iot/vscode-ros/issues/261#issuecomment-990101301

[2021-12-15 15:02] chenjun00 commented on #606
This problem happens on lastest VSCode again:
![image](https://user-images.githubusercontent.com/57067221/146210544-dcb736fa-cf9c-45e4-86a5-fb72868521f7.png)

[2021-12-15 18:35] ooeygui commented on #606
0.7.0 has not been released yet; I closed it in anticipation. I'm working on one final validation pass before pushing it.

Sorry for the delay, this had some big changes!

[2021-12-20 21:54] quentingllmt opened #632 "[bug] Debug launch stuck with LifeCycleNode (Ros2, foxy)"
(Please add appropriate labels)
- [ ] Linux:  (Ubuntu/20.04)
- [ ] ROS 2: Foxy

\<Version of the plugin\>
0.6.9

\<Copy the Version information from the `Help | About` menu\>
[code]
# what is the bug
\<current behavior\>
When starting a debug section from a launch file, process is stuck before debug starts. (Only the green arrow and red square are active, progress bar is loading indefinitely).

##

[2021-12-23 07:13] zhixin-zhao opened #634 "[Feature Request] Automatically update the C++ properties for a project as they change."
- [x] Linux:  ubuntu18.04
- [x] ROS 1: melodic

v0.6.9

After I make my custom message by mymsg.msg and make proper change in CMakeLists.txt and package.xml, I import the messge in my node c++ file by adding `#include "mypkg/mymsg.h"`. However vscode editor show errors on the new added import line.
I ignore the error and catkin_make the project , everything works fine. So I believe it is a bug fro

[2021-12-23 07:30] zhixin-zhao commented on #634
Modifying `includePath` in the c_cpp_properties.json file fixes the problem. But I don't know why vscode can't do it automatically (I do have source the devel/setup.bash before open code editor in termial)

[2021-12-23 11:40] KoganOleg commented on #474
@ooeygui It looks that I got the same problem when calling the bash script from launch file.
Do you have any estimation when the fix will be ready and released?

[2021-12-24 04:05] robotrancher commented on #634
It can - it's just code. Feel free to submit a pull request.
The VSCode ROS extension does have a command to update the C++ (and python) properties. 0.7.0 includes full browse database for ROS

[2021-12-24 04:07] robotrancher commented on #624
Kinetic is not supported and EOL. Can you try on a currently supported ROS distro?
Check out - https://dlu.github.io/ros_clock/index.html

[2021-12-24 06:08] SubaruArai commented on #624
Ok, I'll try but it will take some time.
I'm closing this issue as of now.

[2021-12-24 06:08] #624 closed

[2021-12-27 20:20] ooeygui commented on #571
I have verified this with Noetic ROS1 on Linux.

[2021-12-27 20:20] #571 closed

[2021-12-27 20:23] ooeygui commented on #634
The 0.7.0 release improves intellisense, including adding the local include paths. However, you have to manually update it.

I'm going to change this to a feature request for automatically updating an existing C++ property

[2021-12-27 20:25] ooeygui commented on #611
Closing - this requires the SSH extension and installing the ROS extension remotely

[2021-12-27 20:25] #611 closed

[2021-12-27 20:25] #513 closed

[2021-12-27 20:27] ooeygui commented on #474
I have implemented an experimental feature in 0.7.0 which allows you to filter out gazebo. However, it does a "fire and forget" for ROS nodes... which isn't ideal as you can't shutdown the entire graph easily. It's going to take some rework to detect running nodes and not relaunch them.

[2021-12-27 20:29] ooeygui commented on #305
Forgot to close this after the merge. Thanks for the contribution!

[2021-12-27 20:29] #305 closed

[2021-12-27 20:29] ooeygui commented on #233
Closing due to external product.

[2021-12-27 20:29] #233 closed

[2021-12-27 20:30] #336 closed

[2021-12-28 03:10] zhixin-zhao commented on #634
I should have pulled a request. Appreciate it!

[2021-12-28 03:12] zhixin-zhao commented on #634
Yeah, now I realise it is better to pull a request not a bug report. Thanks

[2021-12-28 12:59] Coderx7 opened #639 "[bug] When trying to Launch Debugging using launch.json for ROS, There is no trace of ROS"
(Please add appropriate labels)
- [ ] Windows: (Version)
- [×] Linux:  (Dist/Version) Ubuntu 20.04
- [×] ROS 1: Dist
- [ ] ROS 2: Dist

ROS extension version : ```0.7.0```
VSCode Version:

# what is the bug
Based on the explanation provided in [Automatic creation of a launch.json with ROS Launch support ](https://github.com/ms-iot/vscode-ros#automatic-creation-of-a-launchjson-with-ros-launch-suppo

[2021-12-28 15:57] rickstaa commented on #474
@ooeygui Great. I will test it out when I am working on a ROS project!

[2021-12-29 11:10] rickstaa commented on #474
@ooeygui I verified your solution and it works! Thanks a lot for implementing this. About the "fire and forget", I noticed that this also occurred before `v0.7.0` when you try to attach to a ROS node that is launched by a [subprocess](https://docs.python.org/3/library/subprocess.html) `Popen` call. What I currently do is keep a [htop](https://htop.dev/) window open to close any dangling processes

[2021-12-29 11:12] rickstaa commented on #474
I haven't yet encountered the "fire and forge" problem when using the launch command in my project. If I do I will create a new issue.

[2021-12-29 11:18] rickstaa commented on #474
@KoganOleg can you verify whether the solution also works for you?

[2022-01-02 09:56] KoganOleg commented on #474
@rickstaa Looks that it doesn't fix my case, still issuing the same problem.
VS code version 1.63.2. Would you like me to provide more details?

[2022-01-03 21:27] ooeygui commented on #474
@KoganOleg Can you verify that you are using the 0.7.0 version of the VSCode ROS extension? If so, can you post the contents of your launch.json file?

[2022-01-04 09:59] knorth55 commented on #379
This issue may be solved by https://github.com/ros/ros_comm/pull/2217.

[2022-01-05 12:26] KoganOleg commented on #474
@ooeygui It was the first thing to check the version of ROS (0.7.0).
Attaching my launch file, error message and ROS version screen shots.
Another detail - I'm working inside the docker container.
[conti_ars540_default_with_script_launch.txt](https://github.com/ms-iot/vscode-ros/files/7814823/conti_ars540_default_with_script_launch.txt)
![Error message](https://user-images.githubusercontent.com/96

[2022-01-05 20:33] ooeygui commented on #474
@KoganOleg It looks like your ros node is just a shell script, which isn't a supported target for the vscode ros extension.
I would recommend using python instead of a shell script if you are able to.

If you are not able to switch to a python script, you can filter this out in 0.7.0, with something like this:
[code]

[2022-01-06 11:15] KoganOleg commented on #474
@ooeygui  Thanks a lot for your clarification.
Indeed, I'll try to replace the bash with python script.
However the second part is not clear for me. When you say "filter out" do you mean to bypass the call to the script? And what is the scope of the code that you posted? Launch file?  Node in lunch?

[2022-01-07 00:45] ooeygui commented on #554
Would love for this to be pulled into colcon https://github.com/colcon/colcon-core/issues/37 for cleaning up a workspace.

[2022-01-07 19:06] jandaa commented on #632
Same issue here

[2022-01-10 20:56] polyhobbyist opened #643 "[bug] ROS2 - Errors produced when colcon is not available do not make sense"
(Please add appropriate labels)
- [ ] Windows: (Version)
- [X] Linux:  (Dist/Version)
- [ ] ROS 1: Dist
- [X] ROS 2: Foxy

\<Version of the plugin\>
0.7.0

# what is the bug
If you source ROS2 and open a ROS2 folder, then try to do something like rosdep through the command pallet, you'll get an error about the rosdep command. However, the root issue is that colcon wasn't installed.

[2022-01-12 22:55] ooeygui commented on #566
I can no longer reproduce this; not sure if there was a VSCode fix or a extension issue; but environment variables are now passed correctly to the sub-process.

[2022-01-12 22:55] #566 closed

[2022-01-12 23:11] ooeygui commented on #474
I'm working on improving support for scripts in the launch path.

[2022-01-13 17:11] philippewarren opened #645 "[bug] launch.json for ros package does not pass launchfile arguments to roslaunch"
(Please add appropriate labels)
- [x] Linux:  Ubuntu 20.04
- [x] ROS 1: Noetic

\<Version of the plugin\>
VSCode ROS extension : 0.7.0

\<Copy the Version information from the `Help | About` menu\>
Version: 1.63.2
Commit: 899d46d82c4c95423fb7e10e68eba52050e30ba3
Date: 2021-12-15T09:39:46.686Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Linux x64 5.11.0-4

[2022-01-13 17:55] ooeygui commented on #645
Thank you for the bug and the simple repro steps. I'll take a look!

[2022-01-14 01:53] samwesley commented on #315
Hey @ooeygui I'm also seeing this error, using ROS Kinetic on Ubuntu 16.04 on a Raspberry Pi, I've tried the above steps from Feb. 8th with no luck

[2022-01-14 17:35] ooeygui commented on #280
This works!

[2022-01-14 17:35] #280 closed

[2022-01-14 17:37] ooeygui opened #646 "[feature] Support Custom environments for build and debugging"
**what is needed**
The ROS extension today will source just the main ros distro, and the workspace setup scripts. However, it is often desirable for a custom environment script which is loaded after the ROS distro, but before the workspace.

**why is it needed**
For example, if you need to source ros packages from another workspace.

[2022-01-14 18:20] ooeygui commented on #315
@samwesley Kinect is not supported by the ROS extension (Kinetic and Ubuntu 16.04 are both EOL).

The ROS extension uses ROS under the covers. It will only activate fully when it detects a catkin (Melodic or Noetic) or colcon (ROS2 Foxy+) workspace.

[2022-01-14 18:26] samwesley commented on #315
Ahh, thanks @ooeygui!

[2022-01-14 21:49] ooeygui opened #647 "[feature] Implement UI which tracks running ROS nodes, allowing Attach Debugger, restart, and graph management"
**what is needed**
This is a comprehensive feature request, which includes:
1. a UI Tab for tracking Running ROS nodes
2. For each ROS node, UI elements for:
   *  stop node
   * restart node
   * Attach Debugger
3. For All nodes, have UI to:
  * Stop the graph
  * Restart the graph
  * Launch Introspection UI

**why is it needed**
The ROS Launch debugger can attempt to launch nodes which it doesn

[2022-01-14 21:51] ooeygui commented on #474
After looking through this, I decided to add a new feature - https://github.com/ms-iot/vscode-ros/issues/647. This will expose UI for graph control. The ROS Launch debugger can introspect the graph control and launch and attach based on that.

the ROS launch code doesn't handle sh or bat files, so I'm fixing that as a code filter. the code will just execute it - but not track that execution.

[2022-01-15 07:54] chenjunnn opened #648 "[bug] Some args of tasks `colcon test` is invalid."
- [ ] Windows: (Version)
- [x] Linux:  Ubuntu 20.04
- [ ] ROS 1: Dist
- [x] ROS 2: Galactic

\<Version of the plugin\>
0.7.0

# what is the bug
Some args of tasks `colcon test` is invalid.
[code]
I think `"--symlink-install",` `"--cmake-args",
		"-DCMAKE_BUILD_TYPE=RelWithDebInfo"` should be removed.

[2022-01-16 07:26] KoganOleg commented on #474
@ooeygui Thank you!
Should be really nice feature!

[2022-01-16 14:42] rickstaa commented on #474
@ooeygui Thanks amazing implementation. Very helpfull! I think we can close this issue for now?

[2022-01-16 22:42] ooeygui commented on #474
@KoganOleg Thanks!

@rickstaa For this specific bug, I'm working on a fix to improve detecting of bat/sh/bash/cmd files so that it doesn't just fail out right. I hope to have that committed in a few days. Once that bug fix is committed, I'll close this issue. I have a couple of blocking things like this going into the 0.8.0 release.

[2022-01-18 21:04] rickstaa commented on #474
Cool, I will leave the closing of the issue to you! Thanks again for your work on the 0.8.0 release.

[2022-01-21 21:11] ooeygui commented on #632
Looking into this. I'm using https://github.com/ros2/demos/tree/foxy/lifecycle as a baseline

[2022-01-21 21:38] ooeygui commented on #632
Initial investigation shows that our "Launch file dumper" is getting stuck parsing the LifecycleNode in the launch file.

[2022-01-22 16:43] #620 closed

[2022-01-22 16:43] #632 closed

[2022-01-22 16:45] ooeygui commented on #648
Thank you for the suggestion. However:
* RelWithDebInfo is required for debugging.
* Symlink install prevents colcon from copying during build, which improves dev iteration.

Do either of these cause problems for your use case?

[2022-01-22 16:45] #648 closed

[2022-01-22 16:48] ooeygui commented on #639
While debugging https://github.com/ms-iot/vscode-ros/pull/656, I figured out that VSCode is filtering the options when not registered with a debug event. ROS now shows up.

Thank you so much for the detailed report! I really appreciate the effort put into creating it. I loved the animated gif.

[2022-01-22 16:48] #639 closed

[2022-01-22 16:48] ooeygui commented on #639
I pinned this as an example of an incredibly helpful bug!

[2022-01-22 18:27] chenjunnn commented on #648
@ooeygui  What I said is `colcon test`, not `colcon build`. Please try using these arguments with colcon test, and you will get:
[code]

[2022-01-31 15:19] fmros commented on #240
You can still use the "standard" gdb-attach approach which works for me and makes pretty printing work from attach:
[code]

[2022-02-01 01:27] ooeygui commented on #357
This is a very significant change to the deployment of the VSCode ROS extension. I want to get some milage on it before releasing it.

[2022-02-01 17:18] #162 closed

[2022-02-01 17:19] ooeygui opened #663 "[feature] Support Merge Install & Symlink Install in Colcon"
**what is needed**
Some build types - like ROS2.net - require merge install as the output of the build is consumed by the build. These parameters are not exposed today, which causes ROS2.net workspaces to fail to build in VSCode.

NOTE: This ask is not about ROS2.net support in VSCode.

[2022-02-01 17:21] ooeygui opened #664 "[feature] Support Debugging ROS Compositions which include ROS2.net"
**what is needed**
As ROS2.net allows building ROS nodes in C#. Today the ROS Extension only natively supports Python and C++, and does not correctly attach a debugger or intellisense for C# based ROS nodes.

[2022-02-01 17:45] ooeygui commented on #663
Proposed solution: Similar to the action-ros-ci, expose colcon-defaults
[code]

[2022-02-01 17:47] ooeygui opened #665 "[feature] Support Colcon Mixins"
**what is needed**
Mixins allow customizing the build or exposing new features

Proposed Solution, similar to the action-ros-ci exposure:
[code]

This would build on the colcon-defauts proposal - https://github.com/ms-iot/vscode-ros/issues/663. Allowing you to specify the actual mixins via a defaults file.

[2022-02-03 21:33] ooeygui opened #667 "[bug] ROS2 launch debugging can fail due to multiple network interfaces"
(Please add appropriate labels)
- [ ] Windows: (Version)
- [X] Linux:  (Ubuntu Container)
- [ ] ROS 1: Dist
- [X] ROS 2: Foxy

\<Version of the plugin\>
0.9.0

# what is the bug
If running in a container (or maybe with multiple active network adapters), Python can output directly to the output stream something like:
`python: using network interface eth0 (udp/192.168.x.x) selected arbitrarily from:

[2022-02-11 11:02] MTDzi commented on #567
Hey @ooeygui, any updates on this?

[2022-02-11 18:05] ooeygui commented on #567
@MTDzi Thanks for checking - it is a super useful feature, but I have not started looking at it. I'd be happy to collaborate if someone wants to take a crack at this.

[2022-02-21 14:48] ZygaOGC opened #676 "[bug] Rosmaster URI export does not work"
(Please add appropriate labels)
- [ ] Windows: (Version)
- [x] Linux:  (Ubuntu/20.04)
- [x] ROS 1: Dist
- [ ] ROS 2: Dist

\<0.8.0\>

# what is the bug
Can not launch debugging with a remote rosmaster.

## Repro steps
1. Export ROS_MASTER_URI variable in the pre-launch task.
2. Launch debugging

# expected behavior
Node under debugging should connect to the rosmaster available at exported URI

[2022-02-21 18:37] robotrancher commented on #676
Unfortunately, VSCode itself does not propagate environment variables between tasks, so this is lost well before the ROS extension activates. Instead you should launch vscode from a pre-initialized environment, or ensure that you are using ros from a root install. Check out this video for more details: https://www.youtube.com/watch?v=N2vqBvPQdhE

[2022-02-21 18:40] polyhobbyist opened #677 "[bug] ROS extension not offered for Python only packages"
(Please add appropriate labels)
- [X] Windows: (Version)
- [X] Linux:  (Dist/Version)
- [ ] ROS 1: Dist
- [X] ROS 2: Dist

\<Version of the plugin\>
0.9.0

# what is the bug
If you have a python only package in a workspace, and select a python file, then attempt to debug - the ROS configurations are not available.

## Repro steps
Follow the tutorial https://docs.ros.org/en/foxy/Tutorials/Writing-A

[2022-02-21 23:59] ooeygui commented on #676
I'm adding support for specifying a setup script by full path instead of just attempting to inferring. This resolves some issues where ROS isn't installed in a standard location.

[2022-02-22 02:18] BlueBirdHouse commented on #260
I do this. However, there is no effect.

<img width="616" alt="Screen Shot 2022-02-22 at 10 16 25 AM" src="https://user-images.githubusercontent.com/6317809/155050992-c64a0b2a-564d-4656-bce5-92952a3b5941.png">
<img width="907" alt="Screen Shot 2022-02-22 at 10 17 02 AM" src="https://user-images.githubusercontent.com/6317809/155051005-f6a29431-dedb-40ed-95e7-93579d312c61.png">

[2022-02-22 05:10] ooeygui commented on #260
I'm adding support for specifying a startup script, both in the workspace and globally - https://github.com/ms-iot/vscode-ros/pull/678

[2022-02-22 05:12] ooeygui commented on #260
To add C++ intellisense, you need to use the `ROS: Update C++ Properties` pallet command. It is not done automatically since it will overwrite existing data.

[2022-02-26 11:15] tkazik opened #683 "System header inclusion"
Issue Type: <b>Bug</b>

See [here](https://github.com/microsoft/vscode-cpptools/issues/8443#issuecomment-986967819) for details. Thx!

Extension version: 0.8.0
VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:02:29.527Z)
OS version: Linux x64 5.10.0-1058-oem snap
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R

[2022-02-26 22:03] bearrista opened #685 "[bug] Can't launch debugger without specifying an "args" entry in launch.json"
WSL2: Ubuntu 18.04
ROS 1: Melodic

Release 0.8.1

Version: 1.65.0-insider (user setup)
Commit: eeeab304b9ac777b4a8dddf55f66ffebd9e4e7f2
Date: 2022-02-22T14:29:15.294Z
Electron: 16.0.9
Chromium: 96.0.4664.174
Node.js: 16.9.1
V8: 9.6.180.23-electron.0
OS: Windows_NT x64 10.0.19044

# what is the bug
I believe in my recent patch to resolve #645 I inadvertently added a new bug. I now can't launch my t

[2022-02-27 01:00] ooeygui commented on #685
Investigating

[2022-02-27 03:06] ooeygui commented on #685
I see what happened. `args` is not the correct variable - `arguments` is. This is declared on the LaunchRequest object - however, it isn't passed in correctly to the roslaunch.
I'm still testing.

[2022-02-27 03:53] ooeygui commented on #676
Support for arbitrary script loading has been added in https://github.com/ms-iot/vscode-ros/pull/678

[2022-02-27 03:53] #676 closed

[2022-02-27 03:53] ooeygui commented on #667
Released in 0.8.1

[2022-02-27 04:07] ooeygui commented on #683
I'd like to use a more descriptive title for this issue, but not clear what your ask is. Is intellisense not finding a specific function? Can you share a intellisense configuration which does find it?

[2022-02-28 21:39] ooeygui commented on #685
Fix released in 0.8.2

[2022-02-28 21:39] #685 closed

[2022-02-28 21:42] ooeygui opened #687 "[bug] Environment not reevaluated when startup script is updated"
With the new `ros.rosSetupScript` setting, the script is run when settings.json is updated. However, since the script itself does not have a file watcher on it, if you update the contents of the script, they are not reevaluated until other conditions cause an environment refresh.

# Bug
rosSetupScript should have a file watcher to enable refreshing the environment when the script changes, not just

[2022-03-16 12:53] tiralonghipol opened #691 "[bug] breakpoints not working"
(Please add appropriate labels)
- [ ] Windows: (Version)
- [x ] Linux:  (Dist/Version) Ubuntu 20.04
- [x ] ROS 1: Dist Noetic
- [ ] ROS 2: Dist

\<Version of the plugin\>
Released on
6/28/2019, 23:09:22
Last updated
2/27/2022, 05:12:23
Identifier
ms-iot.vscode-ros
\<Copy the Version information from the `Help | About` menu\>

# what is the bug
\<current behavior\>
Breakpoints not respected
## Repr

[2022-03-17 14:31] wanghuohuo0716 opened #692 "[feature request] Launch request should support relative path"
(Please add appropriate labels)
- [ ] Ubuntu 16.04: (Version)
- [ ] ROS 1: Kinetic-destktop-full

\<Version of the plugin\>
ROS-plugin
version: `v0.8.2`

\<Copy the Version information from the `Help | About` menu\>
vscode version
[code]

# what is the bug
when I debug the ros launch file,error report "Launch request requires an absolute path as target"

## Repro steps
1.`mkdir -p catkin_key_board

[2022-03-17 14:34] hwhsu1231 opened #693 "[feature] Provide `configurationProvider` for C/C++ IntelliSense."
**what is needed**

The title of this issue.

**why is it needed**

Just like [CMake-Tools](https://github.com/microsoft/vscode-cmake-tools/issues/928#issuecomment-643491257) and [Makefile-Tools](https://github.com/microsoft/vscode-makefile-tools#configuring-your-project) did. If VSCode-ROS can provide this functionality, then we don't have to worry about `c_cpp_properties.json`.

[2022-03-17 16:05] ooeygui commented on #693
Thanks for the feature request. I'll look into it :-)

[2022-03-19 08:12] hwhsu1231 opened #694 "[feature] Provide more useful GUI buttons on the bottom of status bar."
### What is needed

Provide more useful GUI buttons on the bottom of status bar. I recommend that VSCode-ROS refer to the GUI button design of [CMake-Tools](https://github.com/microsoft/vscode-cmake-tools).

### Why is it needed

ROS can be more friendly to those who are not familiar to command-line tools.

### Screenshots of CMake-Tools

![image](https://user-images.githubusercontent.com/71438617

[2022-03-24 00:23] joseantoniobecerrapermuy opened #696 "[bug][catkin tools] setup.bash in an install space is ignored"
(Please add appropriate labels)
- [ ] Windows: (Version)
- [X] Linux:  (Ubuntu 20.04)
- [X] ROS 1: Noetic
- [ ] ROS 2: Dist

0.8.2

Versión: 1.65.2
Commit: c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1
Fecha: 2022-03-10T14:33:52.251Z
Electrón: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Linux arm64 5.13.0-30-generic

# what is the bug
devel/setup.bash takes precedence

[2022-04-04 07:41] hwhsu1231 commented on #694
Is it possible to integrated with [CMake-Tools](https://github.com/microsoft/vscode-cmake-tools) plugin?

[2022-04-04 14:15] philippewarren opened #699 "[feature] Clangd support"
**what is needed**
Add support for the clangd language server. At least, allow the ROS extension to start if the C/C++ extension is disabled or not launched.

**why is it needed**
Clangd with `DCMAKE_EXPORT_COMPILE_COMMANDS` is a good alternative to MS C/C++ and its numerous configurations for include paths and everything.
This would allow users to use their preferred language server.
Currently, i